@charset "utf-8";
a {color:#000;}
/*左右分列*/
.col_left {width:715px;overflow:hidden;float:left;}
.col_right {width:235px;overflow:hidden;float:right;}
/*幻灯*/
#slide_show {width:714px;height:230px;overflow:hidden;border:1px solid #ccc;position:relative;}
#slide_main,#slide_main li,#slide_main img {width:714px;height:230px;overflow:hidden;display:block;}
#slide_sub {position:absolute;z-index:2;right:4px;bottom:4px;height:18px;overflow:hidden;opacity:0.8;filter:alpha(opacity=80);}
#slide_sub li {float:left;display:inline;width:20px;height:18px;cursor:pointer;overflow:hidden;margin-left:8px;background:url(index/index_sprite.png) 0 0 no-repeat;text-align:center;color:#fff;line-height:18px;font-family:arial;}
#slide_sub li.active {background-position:-22px 0;color:#333;}
/*快报*/
.bulletin_0 {border:4px solid #eee;height:132px;overflow:hidden;}
.bulletin_0 dt {height:32px;line-height:34px;overflow:hidden;border-bottom:1px solid #eee;margin-left:0 5px;padding:0 10px;}
.bulletin_0 dt a {float:right;padding-right:10px;background:url(index/arrow_0.png) right 0 no-repeat;color:#000;}
.bulletin_0 dd {margin:0 15px;padding-left:15px;height:30px;line-height:30px;overflow:hidden;border-bottom:1px dashed #eee;background:url(index/arrow_0.png) left -34px no-repeat;}
.bulletin_0 dd a {color:#797979;}
.bulletin_0 a:hover {text-decoration:underline;}
.index_ad_0 {width:235px;height:87px;overflow:hidden;margin-top:5px;}
.index_ad_0 img {border:4px solid #eee;}
.index_ad_0 a:hover img {border-color:#ffbc00;}

/*热门分类*/
#hot_title_bg{width:80px; height:20px; background:url(../images/index/hot_title_bg.jpg) no-repeat; display:block; margin-top:7px;}
.index_sort {border:2px solid #ccc;height:273px;overflow:hidden;}
.index_sort .index_tit_0 {border:0 none;}
.index_sort dl {margin:0 10px;overflow:hidden;padding:8px 0 8px 90px;border-bottom:1px dashed #ccc;zoom:1;}
.index_sort dl:after{content:' ';display:block;height:0;clear:both;overflow:hidden;visibility:hidden;}
.index_sort dt {width:79px;height:31px;overflow:hidden;padding-right:5px;background:url(index/index_sprite.png) -44px 0 no-repeat;line-height:31px;text-align:center;margin-left:-90px;float:left;display:inline; font-weight:bold; color:#FFF}
.index_sort dt a{font-weight:blod;color:#fff;}
.index_sort dt a:hover {text-decoration:underline;}
.index_sort dd {float:left;line-height:14px;white-space:nowrap;padding:1px 0;}
.index_sort dd a {padding-right:5px;margin-right:5px;border-right:1px solid #ccc;color:#666;}
.index_sort dd a:hover {color:#000;text-decoration:underline;}
.index_tit_0 {border:1px solid #ccc;height:34px;line-height:34px;background:url(index/index_sprite.png) -178px 0 no-repeat #f5edfb;padding-left:35px;padding-right:15px;overflow:hidden;}
/*.index_tit_0 span.fl {font-size:16px;color:#bb0000;font-family:'MicroSoft yaHei';letter-spacing:1px; font-weight:bold;}*/

/*今日团购*/
.index_group {border:2px solid #ccc;height:273px;overflow:hidden;}
.index_tit_1 {height:34px;line-height:34px;background:#f5edfb url(index/index_sprite.png) -132px -71px no-repeat;padding-left:80px;line-height:34px;font-size:18px;font-family:'MicroSoft yaHei';letter-spacing:1px;}
.index_group img {display:block;margin:10px auto 0;}
.index_group p.p_0 {text-align:center;line-height:1.5em;height:1.5em;overflow:hidden;}
.index_group_time {height:31px;overflow:hidden;text-align:center;margin-top:5px;padding:0 10px;}
.index_group_time span.span_0 {line-height:31px;float:left;}
.index_group_time span.span_1 {height:31px;line-height:31px;float:right;width:143px;background:url(index/index_sprite.png) 0 -38px no-repeat;font-weight:700;color:#fff;font-size:14px;}

/*今日特价*/
#special_title_bg{width:80px; height:20px; background:url(../images/index/special_title_bg.jpg) no-repeat; display:block; margin-top:7px;}
.index_special_list {width:100%;margin-top:10px;overflow:hidden;}
.index_special_big {width:214px;height:413px;overflow:hidden;float:left;}
.index_special_big img {display:block;border:1px solid #ccc;}
.index_special_big a:hover img {border-color:#ffbc00;}
.index_special_list ul {float:right;width:492px;overflow:hidden;}
.index_special_list ul li {float:left;width:150px;margin:0 7px;display:inline;}


#zt_title_bg{width:80px; height:20px; background:url(../images/index/zt_title_bg.jpg) no-repeat; display:block; margin-top:7px;}
#pj_title_bg{width:80px; height:20px; background:url(../images/index/pj_title_bg.jpg) no-repeat; display:block; margin-top:7px;}



/*右侧广告*/
.index_ad_1 {width:235px;overflow:hidden;}
.index_ad_1 img {display:block;width:233px;border:1px solid #ccc;}
.index_ad_1 a:hover img {border-color:#ffbc00;}

/*专题推荐*/
.index_recomm {width:100%;overflow:hidden;}
.index_recomm li {margin-top:10px;float:left;display:inline;}
.index_recomm li img {display:block;border:1px solid #ccc;}
.index_recomm li a:hover img {border-color:#ffbc00;}

/*优势保障*/
.index_odds{}
.index_odds ul {width:1000px;text-align:center;}
.index_odds li {width:216px;margin-right:32px;overflow:hidden;float:left;}
.index_odds p.p_0 {border:2px solid #572471;margin-top:10px;height:58px;background:url(index/index_sprite.png) 0 -109px repeat-x;font-size:16px;font-family:'MicroSoft yaHei';line-height:24px;padding-top:6px;}

/*公用*/
.mt_5 {margin-top:5px;}
.ml_10 {margin-left:10px;}
.pro_name {height:2.6em;line-height:1.3em;overflow:hidden;}
.f14 {font-size:14px;}
.cb00 {color:#bb0000;}
.c502 {color:#50216c;}
.yahei {font-family:'MicroSoft yaHei';}

