@charset "utf-8";
a {color:#000;}

/*频道导航*/
p.channel_guide {height:24px;line-height:24px;padding-left:20px;border:1px solid #ccc;background:#fcf6ff;}

.user_reg {width:542px;margin:10px auto 0;overflow:hidden;padding-bottom:10px;}
.user_reg_tit {height:38px;background:url(reg/reg.png) 0 0 no-repeat;padding:11px 0 6px 0;line-height:38px;color:#fff;font-weight:700;text-indent:60px;font-size:14px;}
.user_reg_inn {width:528px;border:1px solid #c9c9c9;border-top:0 none;margin-left:5px;padding:10px 0;}
.user_reg_inn table {margin:0 auto;}
.user_reg_inn table td {padding:5px;}
#user_reg_submit {width:77px;height:26px;text-align:center;line-height:26px;background:url(reg/reg.png) -189px -57px no-repeat;display:block;}
#reg_username,#reg_email,#reg_password,#reg_confirm,#reg_verify {background:none;border:1px solid #ccc;height:20px;line-height:20px;width:120px;}
#reg_verify {width:60px;}
#password_strength {text-indent:-999em;}
.password_strength_0,.password_strength_1,.password_strength_2 {width:61px;height:13px;overflow:hidden;background:url(reg/reg.png) no-repeat;}
.password_strength_0 {background-position:0 -57px;}
.password_strength_1 {background-position:-63px -57px;}
.password_strength_2 {background-position:-126px -57px;}

.user_reg_success {border:1px solid #ccc;padding:10px 50px;}
.user_reg_success .h2_0 {background:url(reg/icon_0.png) left center no-repeat;text-align:center;height:60px;line-height:30px;width:600px;margin:0 auto;}
.user_reg_success .span_0 {font-size:24px;color:#2d8903;display:block;}
.user_reg_success .span_1 {color:#999;}
.user_reg_success .a_0 {background:url(reg/button_0.png) 0 0 no-repeat;width:113px;height:30px;line-height:30px;margin:10px auto 0;color:#fff;display:block;text-align:center;overflow:hidden;}

.user_reg_forget {text-align:center;padding:10px 50px;border:1px solid #ccc;}
.user_reg_forget_0 {display:inline-block;*display:inline;*zoom:1;padding-left:80px;background:url(reg/logo.png) left top no-repeat;}

/*登陆 快速注册*/
.login_quick {width:848px;margin:10px auto 0;border:1px solid #ccc;zoom:1;padding-bottom:10px;}
.login_quick:after{content:' ';display:block;height:0;clear:both;overflow:hidden;visibility:hidden;}

/*登陆*/
.user_login {width:393px;overflow:hidden;float:left;margin-left:-7px;display:inline;position:relative;margin-top:-1px;}
.user_login_tit {font-size:14px;font-weight:700;background:url(reg/reg.png) 0 -99px no-repeat;height:30px;line-height:30px;padding:6px 0 7px;text-indent:3em;}
#user_login_type {width:340px;overflow:hidden;margin:10px auto 0;border-bottom:1px solid #ccc;}
#user_login_type li {float:left;width:87px;height:27px;text-align:center;line-height:27px;margin-right:2px;background:url(reg/reg.png) -455px -86px no-repeat;}
#user_login_type li.active {background-position:-455px -57px;}
#user_login_type li.active a {color:#fff;}
.user_login_form {margin-top:10px;}
.user_login_form table {margin:0 auto;}
.user_login_form td {padding:10px;}
.login_quick a.a_0,.user_login_form a.a_1 {display:inline-block;*display:inline;*zoom:1;width:77px;height:26px;line-height:26px;text-align:center;overflow:hidden;background:url(reg/reg.png) no-repeat;}
.login_quick a.a_0 {background-position:-465px -115px;}
.login_quick a.a_1 {background-position:-465px -143px;}
.login_quick .input_0 {background:none;border:1px solid #ccc;height:20px;line-height:20px;width:160px;}

/*快速注册*/
.quick_reg {width:462px;float:right;margin-top:-1px;position:relative;}
.quick_reg_tit {background:url(reg/reg.png) 0 -144px no-repeat;height:30px;line-height:30px;padding:6px 0 7px;text-indent:3em;float:right;width:375px;position:relative;margin-right:-7px;text-indent:10em;}
.quick_reg_form {border-left:1px solid #ccc;clear:both;}
.quick_reg_form table {margin:0 auto;}
.quick_reg_form td {padding:5px 10px;}

/*优势保障*/
.index_odds{}
.index_odds ul {width:1000px;text-align:center;}
.index_odds li {width:216px;margin-right:32px;overflow:hidden;float:left;}
.index_odds p.p_0 {border:2px solid #572471;margin-top:10px;height:58px;background:url(index/index_sprite.png) 0 -109px repeat-x;font-size:16px;font-family:'MicroSoft yaHei';line-height:24px;padding-top:6px;}


/*公用*/
.mt_5 {margin-top:5px;}
.ml_10 {margin-left:10px;}
.mt_20 {margin-top:20px;}
.pl_40 {padding-left:40px;}
.pro_name {height:2.6em;line-height:1.3em;overflow:hidden;}
.f14 {font-size:14px;}
.f18 {font-size:18px;}
.f32 {font-size:32px;}
.c999 {color:#999;}
.c110 {color:#1105b1;}
.cb00 {color:#bb0000;}
.c502 {color:#50216c;}
.cffb {color:#ffbc00;}
.yahei {font-family:'MicroSoft yaHei';}