<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title><{$lan.site_title}></title>
<link href="<{$public}>/css/header.css" rel="stylesheet" type="text/css" />
<link href="<{$public}>/css/goods_list.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="<{$public}>/css/sales.min.css" media="all" type="text/css"/>
<script type="text/javascript" src="<{$public}>/js/jquery.js"></script>
<script type="text/javascript" src="<{$public}>/js/goods_list.js"></script>
<script type="text/javascript" src="<{$public}>/js/common.js"></script>
</head>
<body>
<{include file='public/head.html' }>
<div id="fabWrapper" class="wrapperMesh">
<div id="contentWrapper">
  <div class="fabBorderSpace"></div>
  <div class="frame_main">
	<div class="goods_list_left"> 
		<!--全部商品分类 start-->
		<div id="all_sort">
			<h2 class="h2_0">分类筛选</h2>
			<dl class="active">
				<dt><a href="#">手机/配件</a><b class="icon">icon</b></dt>
				<dd><a href="搜索.html">GSM手机</a></dd>
				<dd><a href="搜索.html">CDMA手机</a></dd>
				<dd><a href="#">移动3G手机</a></dd>
				<dd><a href="#">联通3G手机</a></dd>
				<dd><a href="#">电信3G手机</a></dd>
				<dd><a href="#">双卡手机</a></dd>
				<dd><a href="#">双模手机</a></dd>
				<dd><a href="#">手机电池</a></dd>
				<dd><a href="#">手机充电器</a></dd>
			</dl>
		</div>
		<!--全部商品分类 end-->
		<div class="search_hot_sale" id="sell_tab_sub">
			<h2 class="h2_0">热销商品</h2>
			<ol>
						<li>
							<p class="p_0"><strong class="strong_0">1</strong><a href="#"><img width="50" height="50" src="images/goods_list/1.jpg" alt="" class="fl"></a></p>
							<p><a href="#">商品名称</a></p>
							<p>商品描述商品描述商品描述商品描述商品描述商品<strong class="f14 cf00">￥1234.00</strong></p>
						</li>
					</ol>
		</div>
	</div>
	<div class="goods_list_right"> 
		<!--搜索结果 start-->
		<p class="search_result_info"><{$cat.c_name}> 搜索结果（<{$num}>）</p>
		<!--搜索结果 start--> 
		<!--商品排序 start-->
		<ul class="goods_sort">
			<li class="<{if $order eq 'sale_begin'}>active<{/if}>"><a href="<{$app}>/search/cat/cid/<{$cid}>/p/<{$p}>/order/sale_begin/sort/<{if $order eq 'sale_begin'}><{if $sort eq 'desc'}>asc<{else}>desc<{/if}><{/if}>">按上架时间排序<{if $order eq 'sale_begin'}><{if $sort eq 'desc'}>↓<{else}>↑<{/if}><{/if}></a></li>
			<li class="<{if $order eq 'w_price'}>active<{/if}>"><a href="<{$app}>/search/cat/cid/<{$cid}>/p/<{$p}>/order/w_price/sort/<{if $order eq 'w_price'}><{if $sort eq 'desc'}>asc<{else}>desc<{/if}><{/if}>">按价格排序<{if $order eq 'w_price'}><{if $sort eq 'desc'}>↓<{else}>↑<{/if}><{/if}></a></li>
			<li class="<{if $order eq 'edit_time'}>active<{/if}>"><a href="<{$app}>/search/cat/cid/<{$cid}>/p/<{$p}>/order/edit_time/sort/<{if $order eq 'edit_time'}><{if $sort eq 'desc'}>asc<{else}>desc<{/if}><{/if}>">按更新时间排序<{if $order eq 'edit_time'}><{if $sort eq 'desc'}>↓<{else}>↑<{/if}><{/if}></a></li>
		</ul>
		<!--商品排序 end--> 
		<!--商品列表 start-->
		<ul id="all_goods_list">
		<!-- 便利搜索的结果集-->
		<{section loop=$data name='ls'}>
			<li> <a href="单品.html"><img src="<{$public}>/images/ware/<{$data[ls].w_pic}>" width="100" height="100" alt="" /></a>
			  <p class="pro_name"><a href="#"><{$data[ls].w_name}></a></p>
				<p class="f14 cb00"><strong>价格：￥<{$data[ls].w_price}>.00元</strong></p>
				<p class="mt_10"><a href="#" class="a_0">收藏</a><a href="单品.html" class="a_0">购买</a><a href="#" class="a_0">比较</a></p>
			</li>
		<{/section}>
		</ul>
		<ul class="goods_flip mt_10">
			<li><a href="<{$app}>/search/cat/cid/<{$cid}>/p/1/order/<{$order}>/sort/<{$sort}>">第一页</a></li>
			<{if $p gt 1}>
				<li><a href="<{$app}>/search/cat/cid/<{$cid}>/p/<{$p-1}>/order/<{$order}>/sort/<{$sort}>">上一页</a></li>
			<{/if}>
			<{if $p lt $total_page}>
				<li><a href="<{$app}>/search/cat/cid/<{$cid}>/p/<{$p+1}>/order/<{$order}>/sort/<{$sort}>">下一页</a></li>
			<{/if}>
			<li><a href="<{$app}>/search/cat/cid/<{$cid}>/p/<{$total_page}>/order/<{$order}>/sort/<{$sort}>">最后一页</a></li>
			<li><label for="goods_pages">跳到 </label><input type="text" id="goods_pages"/>页 <input value="Go" size="2" type="button" maxlength="2"/></li>
		</ul>
		<!--商品列表 end--> 
	</div>
	<div class="clear"></div>
	</div>
</div>
</div>
<{include file='public/foot.html'}>
</body>
</html>
