<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>管理中心 - 添加商品 </title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="<{$res}>/css/general.css" rel="stylesheet" type="text/css" />
<link href="<{$res}>/css/main.css" rel="stylesheet" type="text/css" />

</head>
<body>
<h1>
<span class="action-span"><a href="<{$url}>/index">商品信息</a></span>
<span class="action-span1"><a href="<{$app}>/index/info">管理中心</a> </span><span id="search_id" class="action-span1"> - 添加商品</span>
<div style="clear:both"></div>
</h1>
<!--表格开始 -->
<form action="<{$url}>/insert" method='post' enctype="multipart/form-data">
<table width="100%" id="general-table">
		<tr>
				        <td class="label">商品名称:</td>
						<td> <input type='text' name='w_name' maxlength="50" value='' size='27' /> <font color="red">*</font> </td>
		</tr>
		<tr>
						<td class="label">商品货号:</td>
						<td> <input type='text' name='w_code' maxlength="20" value='' size='27' /> <font color="red">*</font> <br>
							如果您不输入商品货号，系统将自动生成一个唯一的货号。
						</td>
					
		</tr>
				<tr>
						<td class="label">商品分类</td>
						<td>
							<{$select}>
						</td>
						 </td>
		</tr>
		<tr>
						<td class="label">商品品牌:</td>
						<td> <select name='w_brand'>
							<{section loop=$brand name='ls'}>
									<option value="<{$brand[ls].b_name}>"><{$brand[ls].b_name}></option>
							<{/section}>
									</select>
						<font color="red">*</font> </td>
		</tr>
		<tr>
					 <td class="label">进货价格:</td>
					 <td> <input type='text' name='w_buyprice' maxlength="20" value='' size='27' /> <font color="red">*</font> </td>

		</tr>
		<tr>
					 <td class="label">售价:</td>
					 <td> <input type='text' name='w_price' maxlength="20" value='' size='27' /> <font color="red">*</font> </td>
		</tr>
				<tr>
					 <td class="label">商品数量:</td>
					 <td> <input type='text' name='w_num' maxlength="20" value='' size='27' /> <font color="red">*</font> </td>
		</tr>
		<tr>
					 <td class="label">积分:</td>
					 <td> <input type='text' name='price' maxlength="20" value='' size='27' /> <font color="red">*</font><br> 
					 购买该商品时最多可以使用多少钱的积分
					 </td>
		</tr>
		<tr>
					 <td class="label">上传商品图片:</td>
					 <td> <input type='file' name='w_pic' maxlength="50" value='' size='27' /> <font color="red">*</font><br> 
					 </td>
		</tr>
						<tr>
						<td class="label"></td>
						<td><input type='checkbox' name='small' checked="true">自动生成缩略图</td>
						
		</tr>
</table>

      <div class="button-div" style='margin-right:100px;margin-top:20px'>
        <input type="submit" value=" 确定 " />
        <input type="reset" value=" 重置 " />
      </div>
</form>
<!--表格结束 -->
</body>
