<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title><{$data.w_name}>--<{$lan.site_title}></title>
<link href="<{$public}>/css/header.css" rel="stylesheet" type="text/css" />
<link href="<{$public}>/css/goods.css" rel="stylesheet" type="text/css" />
<link href="<{$public}>/css/reg.css" rel="stylesheet" type="text/css" />
<link href="<{$public}>/css/comment.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="<{$public}>/css/sales.min.css" media="all" type="text/css"/>
<script type="text/javascript" src="<{$public}>/js/jquery.js"></script>
<script type="text/javascript" src="<{$public}>/js/goods.js"></script>
<script type="text/javascript" src="<{$public}>/js/operate_Cart.js"></script>
<script type="text/javascript" src="<{$public}>/js/operate_Cookie.js"></script>
<style>
.input_0 {background:none;border:1px solid #ccc;height:20px;line-height:20px;width:160px;}
</style>
</head>
<body>
<{ include file='public/head.html'}>
<div id="fabWrapper" class="wrapperMesh">
<div id="contentWrapper">
	<div class="fabBorderSpace"></div>
	<div class="frame_main">
		<!--产品图 start-->
		<div class="goods_info_left">
			<div class="clearFix">
				<div id="goods_img">
					<a href="#"><img src="<{$public}>/images/ware/<{$data.w_pic}>" width="350" height="350" alt="" /></a>
				</div>
				<div id="goods_img_slide">
					<p id="goods_img_up"><a href="javascript:void(0)">向上</a></p>
					<!--
						小图片 50x50 直接写在 img的src
						大图片 350x350 写在小图片的alt标签中
					-->
					<ul>
					<{section loop=$att name='a'}>
						<li class="active"><a href="javascript:void(0)"><img src="<{$public}>/images/thumb/<{$att[a].t_pic}>" width="50" height="50" alt="<{$public}>/images/big/<{$att[a].b_pic}>" /></a></li>
						<{/section}>
					</ul>
					<p id="goods_img_down"><a href="javascript:void(0)">向上</a></p>
				</div>
			</div>
			<div class="goods_share">
				<!-- 分享 -->
			    <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
			        <a class="bds_qzone"></a>
			        <a class="bds_tsina"></a>
			        <a class="bds_renren"></a>
			        <a class="bds_tieba"></a>
			        <a class="bds_tqq"></a>
			        <a class="bds_douban"></a>
			        <span class="bds_more">更多</span>
					<a class="shareCount"></a>
			    </div>
			</div>
		</div>
		<!--产品图 end-->
		<!--产品信息 start-->
		<div class="goods_info_right">
			<!--
				商品评价
				goods_stars_1 = 1星
				goods_stars_2 = 2星
				goods_stars_3 = 3星
				goods_stars_4 = 4星
				goods_stars_5 = 5星
			-->
			<dl class="goods_info">
				<input type='hidden' id='w_id' name='w_id' value="<{$data.id}>">
				<dt><a href="#"><strong class="f14"><{$data.w_name}></strong></a></dt>
				<dd>商品编号：<{$data.id}></dd>
				<dd>品　　牌：<{$data.c_name}></dd>
				<dd>普 泰 价：<strong class="f14 cb00" >￥<span id='price'><{$data.w_price}></span></strong> <a href="#" class="c110">降价通知</a></dd>
			</dl>
			<dl class="goods_gifts">
				<dt>赠品：</dt>
				<{section loop=$gift name='ls'}>
				<dd><a href="javascript:void(0)"><{$gift[ls].g_name}></a> <span class="cb00">X<{$gift[ls].g_num}></span></dd>
				<{/section }>
			</dl>
			<div class="goods_others">
				<!--
					点击产品图，切换文字以及颜色
					产品颜色文字，以及色值，写入dd下的img的alt标签，格式为：文字|色值
				-->
				<dl id="goods_color">
					<dt>
						<span class="block">选择颜色：</span>
						<span class="block">已选择：“<span id="goods_color_info" style="color:#ff00ea;">粉色</span>”</span>
					</dt>
					<dd class="active"><a href="javascript:void(0)"><img src="<{$public}>/images/ware/<{$data.w_pic}>" width="50" height="50" alt="粉色|#ff00ea" /></a></dd>
					<!--
					<dd><a href="javascript:void(0)"><img src="images/goods/1.jpg" width="50" height="50" alt="黑色|#000000" /></a></dd>
					-->
				</dl>
				<dl>
					<dt>我 要 买：</dt>
					<dd><a href="javascript:void(0)" id="goods_amount_reduce">减少</a><input type="text" id="goods_amount" maxlength="3" value="1" name='goods_quantity' /><a href="javascript:void(0)" id="goods_amount_plus">增加</a></dd>
					<dd>库存：<span>有货</span>/<span class="cf00">缺货</span>/<span class="cffb">预定</span></dd>
				</dl>
				<dl>
					<dt>商品总价：</dt>
					<dd><strong class="f14 cb00">￥<span id='sumprice'><{$data.w_price}></span></strong></dd>
				</dl>
				<p class="clearFix"><a href="javascript:show()" id="goods_add_cart" >&nbsp;</a></p>
				<!-- 购物车用 -->
				<input type="hidden" name="goods_id" value="<{$data.id}>" />
				<input type="hidden" name="Images_url" value="<{$data.w_pic}>" />
				<input type="hidden" name="goods_name" value="<{$data.w_name}>" />
				<input type="hidden" name="market_price" value="<{$data.w_price}>" />
			</div>
		</div>
		<!--产品信息 end-->
		<div class="clear"></div>
	</div>
	<div class="mt_6 frame_main">
		<div class="goods_left">
			<!--商品相关信息 start-->
			<ul id="goods_info_main">
				<li class="active">商品介绍<span></span></li>
				<li>商品属性<span></span></li>
				<li>包装清单<span></span></li>
				<li>售后服务<span></span></li>
			</ul>
			<div id="goods_info_sub">
				<{section loop=$inc name=i}>
					<div class="goods_info_sub_tabs <{if $smarty.section.i.index>0}>none<{/if}>"><{$inc[i].content}></div>
				<{/section}>
			</div>
			<!--商品相关信息 end-->
			<!--商品评价 start-->
			<div id="goods_evaluation">
			<div id="disqus_thread"></div>
			<script type="text/javascript">
				var disqus_shortname = 'iswellest'; 
				var disqus_developer = 1;
				var disqus_title = 'iswellest';
				(function() {
					var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);

					var s = document.createElement('script'); s.async = true;
						s.type = 'text/javascript';
						s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
						(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
				})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			</div>
				
		</div>
		<div class="goods_right">
			<!--销售排行 start-->
			<h2 class="sell_ranking_tit">销售排行</h2>
			<div id="sell_ranking">
				<ul id="sell_tab_main">
					<li class="active"><a href="javascript:void(0)">同类别</a></li>
					<li><a href="javascript:void(0)">同品牌</a></li>
					<li><a href="javascript:void(0)">同价位</a></li>
				</ul>
				<div id="sell_tab_sub"> 
					<!--同类别-->
					<ol>
						<{section loop=$brand name='ls'}>
						<li>
							<p class="p_0"><strong class="strong_0"><{$smarty.section.ls.iteration}></strong> <a href="<{$url}>/ware/id/<{$brand[ls].id}>"><img width="50" height="50" class="fl" alt="" src="<{$public}>/images/ware/<{$brand[ls].w_pic}>"/></a></p>
							<p> <a href="<{$url}>/ware/id/<{$brand[ls].id}>"><{$brand[ls].w_name}></a></p>
							<p>商品介绍商品介绍商品介绍</p><p><strong class="f14 cf00">￥<{$brand[ls].w_price}>.00</strong></p>
						</li>
						<{/section}>
					</ol>
					<!--同品牌-->
					<ol class="none">
						<{section loop=$cat name='ls'}>
						<li>
							<p class="p_0"><strong class="strong_0"><{$smarty.section.ls.iteration}></strong> <a href="<{$url}>/ware/id/<{$cat[ls].id}>"><img width="50" height="50" class="fl" alt="" src="<{$public}>/images/ware/<{$cat[ls].w_pic}>"/></a></p>
							<p> <a href="<{$url}>/ware/id/<{$cat[ls].id}>"><{$cat[ls].w_name}></a></p>
							<p>商品介绍商品介绍商品介绍</p><p><strong class="f14 cf00">￥<{$cat[ls].w_price}>.00</strong></p>
						</li>
						<{/section}>

					</ol>
					<!--同价位-->
					<ol class="none">
						<{section loop=$price name='ls'}>
						<li>
							<p class="p_0"><strong class="strong_0"><{$smarty.section.ls.iteration}></strong> <a href="<{$url}>/ware/id/<{$price[ls].id}>"><img width="50" height="50" class="fl" alt="" src="<{$public}>/images/ware/<{$price[ls].w_pic}>"/></a></p>
							<p> <a href="<{$url}>/ware/id/<{$price[ls].id}>"><{$price[ls].w_name}></a></p>
							<p>商品介绍商品介绍商品介绍</p><p><strong class="f14 cf00">￥<{$price[ls].w_price}>.00</strong></p>
						</li>
						<{/section}>
					</ol>
				</div>
			</div>
			<!--销售排行 end-->
			<!--最近浏览过页面 start-->
			<div class="mt_6">
				<h2 class="recent_view_tit">最近浏览过页面</h2>
				<ul class="recent_view">
				<{section loop=$lately name='ls'}>
					<li>
						<p class="p_0"><a href="<{$url}>/ware/id/<{$lately[ls].id}>"><img width="50" height="50" alt="" src="<{$public}>/images/ware/<{$lately[ls].w_pic}>"/></a></p>
						<p><a href="<{$url}>/ware/id/<{$lately[ls].id}>"><{$lately[ls].w_name}></a></p>
						<p>商品介绍商品介绍商品介绍</p><p><strong class="f14 cf00">￥<{$lately[ls].w_price}>.00</strong></p>
					</li>
				<{/section}>
				</ul>
			</div>
			<!--最近浏览过页面 end-->
		</div>
		<div class="clear"></div>
	</div>
</div>
</div>
				<div class="clear"></div>
<{ include file='public/foot.html'}>
<script>
	lastScrollY=0;
	function heartBeat(){
	var diffY;
	if (document.documentElement && document.documentElement.scrollTop)
	diffY = document.documentElement.scrollTop;
	else if (document.body)
	diffY = document.body.scrollTop
	else
	{/*Netscape stuff*/}
	percent=.1*(diffY-lastScrollY);
	if(percent>0)percent=Math.ceil(percent);
	else percent=Math.floor(percent);
	document.getElementById("full").style.top=parseInt(document.getElementById("full").style.top)+percent+"px";
	lastScrollY=lastScrollY+percent;
	if(diffY == 0){document.getElementById("full").style.display = "none"}
	else{document.getElementById("full").style.display = "block"}
	}
	suspendcode="<div id=\"full\" class='full1' style='display:none; POSITION:absolute; left:95%; top:400px; z-index:100;'><a href='javascript:top()'  target='_self'><img src='../../../../public/images/top.gif'/></a></div>"
	document.write(suspendcode);
	window.setInterval("heartBeat()",1);
	function top(){
		//	scrollTo(0,0)
		document.body.scrollTop = 0 ;
		document.documentElement.scrollTop = 0;
	}
	function show(){
		//商品ID
		var goods_id = document.getElementsByName("goods_id")[0].value;
		//商品图片
		var goods_img=document.getElementsByName("Images_url")[0].value;
		//商品名称
		var goods_name = document.getElementsByName("goods_name")[0].value;
		//商品价格
		var market_price = document.getElementsByName("market_price")[0].value;
		//商品数目
		var goods_quantity = document.getElementById("goods_amount").value;	
		//将数组myCart存入cookie
		common.intoCart(goods_id,goods_name,market_price,goods_img,goods_quantity);		
}
</script>
<script type="text/javascript" id="bdshare_js" data="type=tools" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
	document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?t=" + new Date().getHours();
</script>
</body>
</html>
