<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="<{$res}>/css/general.css" rel="stylesheet" type="text/css" />
<link href="<{$res}>/css/main.css" rel="stylesheet" type="text/css" />
<title>无标题文档</title>
<style type="text/css">
<!--
body {
	margin-left: 3px;
	margin-top: 0px;
	margin-right: 3px;
	margin-bottom: 0px;
}
.STYLE1 {
	color: #e1e2e3;
	font-size: 12px;
}
.STYLE6 {color: #000000; font-size: 12; }
.STYLE10 {color: #000000; font-size: 12px; }
.STYLE19 {
	color: #344b50;
	font-size: 12px;
}
.STYLE21 {
	font-size: 12px;
	color: #3b6375;
}
.STYLE22 {
	font-size: 12px;
	color: #295568;
}
a img {
	border:none;
}
-->
</style>
</head>
<h1>
<span class="action-span"><a href="<{$url}>/add">添加商品</a></span>
<span class="action-span1"><a href="<{$app}>/index/info">管理中心</a> </span><span id="search_id" class="action-span1"> - 商品列表 </span>
<div style="clear:both"></div>
</h1>
<body>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  
        
          <tr>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#a8c7ce">
      <tr>
        <td width="4%" height="20" bgcolor="d3eaef" class="STYLE10"><div align="center">
          <input type="checkbox" name="checkbox" id="checkbox" />
        </div></td>
        <td width="10%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">编号</span></div></td>
        <td width="30%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">商品名称</span></div></td>
        <td width="4%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">价格</span></div></td>
        <td width="4%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">库存</span></div></td>
        <td width="3%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">热销</span></div></td>
	    <td width="3%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">精品</span></div></td>
		<td width="3%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">新品</span></div></td>
		<td width="13%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">上架时间</span></div></td>
		<td width="13%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">下架时间</span></div></td>
		<td width="3%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">上架</span></div></td>
        <td width="14%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">基本操作</span></div></td>
      </tr>
	  <{section loop=$data name='ls'}>
      <tr>
        <td height="20" bgcolor="#FFFFFF"><div align="center">
          <input type="checkbox" name="checkbox2" id="checkbox2" />
        </div></td>
        <td height="20" bgcolor="#FFFFFF" class="STYLE6"><div align="center"><span class="STYLE19"><{$data[ls].id}></span></div></td>
        <td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="center"><b><{$data[ls].w_name}></b></div></td>
        <td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="center"><{$data[ls].w_price}></div></td>
        <td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="center"><{$data[ls].w_num}></div></td>
        <td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="center"><img src="<{$res}>/images/yes.gif"></div></td>
		<td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="center"><img src="<{$res}>/images/yes.gif"></div></td>
		<td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="center"><img src="<{$res}>/images/yes.gif"></div></td>
		<td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="center"><{$data[ls].sale_begin}></div></td>
		<td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="center"><{$data[ls].sale_end}></div></td>
		<td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="center">
		<{if $data[ls].is_up eq 1}>
		<img src="<{$res}>/images/yes.gif">
		<{else}>
		<img src="<{$res}>/images/no.gif">
		<{/if}>
		</div></td>
        
		<td height="20" bgcolor="#FFFFFF"><div align="center" class="STYLE21">
		<!-- 查看商品 直接切入到三级页 --><a href="<{$root}>/index.php/index/ware/id/<{$data[ls].id}>" target="_blank"><img src="<{$res}>/images/icon_view.gif" alt="查看"></a> 
		<!-- 编辑商品信息--><a href="<{$url}>/mod/id/<{$data[ls].id}>"><img src="<{$res}>/images/icon_edit.gif" alt="编辑"></a>
		<!-- 将商品放入回收站--><a href="<{$url}>/cover/id/<{$data[ls].id}>" onclick="return confirm('确定要将商品放入到回收站吗？');"><img src="<{$res}>/images/icon_trash.gif" alt="回收站"></a>
		</div></td>
      </tr>
	  <{/section}>
    </table></td>
  </tr>
  <tr>
    <td height="30"><table width="100%" border="0" cellspacing="0" cellpadding="0">
    <br>
      <tr>
        <td width="33%"><div align="right"><span class="STYLE22" style="font-size:16px"><{$fpage}></span></div></td>

          <tr>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
