<div class="w960 height24"></div>
<div id="footerWrapper">
  <div id="footer">
    <ul class="footerLinks floatLeft">
      <li><a href="" target="_blank">网站介绍</a></li>
      <li><a href="" target="_blank">售后服务</a></li>
      <li><a href="" target="_blank">帮助</a></li>
      <li><a href="" target="_blank">联系我们</a></li>
      <li><a href="" target="_blank">招贤纳士</a></li>
    </ul>
    <ul class="footerLinks floatRight">
      <li><a href="http://iswellish.com" target="_blank">iswellish.com</a></li>
      <li>&copy; 2012</li>
    </ul>
</div>
</div>
