<div id="header">
  <div id="fabHeader" >
  <ul id="leftNavToggle" class="floatLeft">
    <li class="mainFabIcon headerhover">
      <a id="homeImage" href="/sale/" class="textHide"><span class="fabShopSprite homeIcon"></span></a>
    </li>
      <li>
        <ul id="checkoutBreadCrumb">
          <li class="activeBar">
              <span class="coCircle">1</span>我的购物车
          </li>
          <li class="passiveBar">
            <span class="fabShopSprite activeArrow floatLeft"></span>
            <span class="floatLeft"><span class="coCircle">2</span>付款方式</span>
          </li>
          <li class="passiveBar">
            <span class="fabShopSprite passiveArrow floatLeft"></span>
            <span class="floatLeft"><span class="coCircle">3</span>下订单</span>
          </li>
          <li class="fabShopSprite passiveArrow" style="padding: 0"></li>
        </ul>
      </li>
  </ul>
</div>
</div>