<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title><{$lan.site_title}></title>
<link href="<{$public}>/css/header.css" rel="stylesheet" type="text/css" />
<link href="<{$public}>/css/news.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="<{$public}>/js/jquery.js"></script>
</head>
<body>
<{include file="public/head.html"}>
<div class="w960">
	<p class="channel_guide">当前位置：<a href="<{$app}>"><font color="red" size=2><b>首页</b></font></a> &gt; <a href="#">商城快报</a> &gt; <span>新闻标题</span></p>
	<div class="mt_10">
		<div class="news_left">
			<div class="news_left_menu">
				<h2 class="news_left_tit">最新快报</h2>
				<ul>
					<{section loop=$data name='ls'}>
						<li><a href="<{$url}>/content/id/<{$data[ls].id}>"><{$data[ls].title}></a></li>
					<{/section}>
				</ul>
			</div>
			<p class="mt_10"><a href="#"><img src="<{$public}>/images/news/1.png" width="180" alt="" class="block" /></a></p>
			<p class="mt_10"><a href="#"><img src="<{$public}>/images/news/1.png" width="180" alt="" class="block" /></a></p>
		</div>
		<div class="news_right">
			<div class="news_lists">
				<div class="news_lists_tit">
					<select class="fr"><option>新闻</option></select><strong class="fl f14">商城快报</strong>
				</div>
				<ul class="news_lists_details">
				<{section loop=$data name='ls'}>
					<li><span class="fl">【新闻】</span><a href="<{$url}>/content/id/<{$data[ls].id}>" class="fl"><{$data[ls].title}></a><span class="fr"><{$data[ls].ntime}></span></li>
				<{/section}>
				</ul>
				<ul class="goods_mess_flip">
					<li>共 12 页</li>
					<li><a href="#">第一页</a></li>
					<li><a href="#">上一页</a></li>
					<li><a href="#">下一页</a></li>
					<li><a href="#">最末页</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!--优势保障 start-->
	<div class="mt_10 index_odds">
		<ul>
			<li>
				<p><img src="<{$public}>/images/index/demo/odds_0.jpg" width="166" height="65" alt="" /></p>
				<p class="p_0"><span class="block">央企电子商务</span><span class="block c502">质量保证</span></p>
			</li>
			<li>
				<p><img src="<{$public}>/images/index/demo/odds_1.jpg" width="166" height="65" alt="" /></p>
				<p class="p_0"><span class="block">100%正品真货</span><span class="block c502">假一赔十</span></p>
			</li>
			<li>
				<p><img src="<{$public}>/images/index/demo/odds_2.jpg" width="166" height="65" alt="" /></p>
				<p class="p_0"><span class="block">满499免运费</span><span class="block c502">全场商品</span></p>
			</li>
			<li>
				<p><img src="<{$public}>/images/index/demo/odds_3.jpg" width="166" height="65" alt="" /></p>
				<p class="p_0"><span class="block">1100个城市</span><span class="block c502">送货上门</span></p>
			</li>
		</ul>
	</div>
	<!--优势保障 end-->
</div>
<{include file="public/foot.html"}>
</body>
</html>
