<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>心云</title>
<link href="<{$public}>/css/header.css" rel="stylesheet" type="text/css" />
<link href="<{$public}>/css/goods.css" rel="stylesheet" type="text/css" />
<link href="<{$public}>/css/reg.css" rel="stylesheet" type="text/css" />
<link href="<{$public}>/css/comment.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="<{$public}>/css/sales.min.css" media="all" type="text/css"/>
<script type="text/javascript" src="<{$public}>/js/jquery.js"></script>
<script type="text/javascript" src="<{$public}>/js/goods.js"></script>
<script type="text/javascript" src="<{$public}>/js/operate_Cart.js"></script>
<script type="text/javascript" src="<{$public}>/js/operate_Cookie.js"></script>
<style>
.input_0 {background:none;border:1px solid #ccc;height:20px;line-height:20px;width:160px;}
</style>
</head>
<body>
<{ include file='public/head.html'}>
<div class="w960 mt_10">
	<p class="channel_guide">当前位置：<a href="<{$app}>/index/index">首页</a> &gt; <a href="#">电脑/办公</a> &gt; <a href="#"><{$data.w_cat}></a> &gt; <span><{$data.w_name}></span></p>
	<div class="w960 mt_10">
		<!--产品图 start-->
		<div class="goods_info_left">
			<div class="clearFix">
				<div id="goods_img">
					<a href="#"><img src="<{$public}>/images/ware/<{$data.w_pic}>" width="350" height="350" alt="" /></a>
				</div>
				<div id="goods_img_slide">
					<p id="goods_img_up"><a href="javascript:void(0)">向上</a></p>
					<!--
						实际应用，大图与小图最好分开。demo中是使用的一张图。
						小图片 50x50 直接写在 img的src
						大图片 350x350 写在小图片的alt标签中
					-->
					<ul>
					<{section loop=$att name='a'}>
						<li class="active"><a href="javascript:void(0)"><img src="<{$public}>/images/thumb/<{$att[a].t_pic}>" width="50" height="50" alt="<{$public}>/images/big/<{$att[a].b_pic}>" /></a></li>
						<{/section}>
					</ul>
					<p id="goods_img_down"><a href="javascript:void(0)">向上</a></p>
				</div>
			</div>
			<div class="goods_share">
				<a href="#">进入商品相册</a>
				<dl>
					<dt>分享到：</dt>
					<dd><a href="#"><img src="<{$public}>/images/goods/share_douban.png" width="16" height="16" alt="" /></a></dd>
					<dd><a href="#"><img src="<{$public}>/images/goods/share_renren.png" width="16" height="16" alt="" /></a></dd>
					<dd><a href="#"><img src="<{$public}>/images/goods/share_qq_t.png" width="16" height="16" alt="" /></a></dd>
					<dd><a href="#"><img src="<{$public}>/images/goods/share_qq_k.png" width="16" height="16" alt="" /></a></dd>
					<dd><a href="#"><img src="<{$public}>/images/goods/share_sina.png" width="16" height="16" alt="" /></a></dd>
				</dl>
				<a href="#">进入软件频道</a>
			</div>
		</div>
		<!--产品图 end-->
		<!--产品信息 start-->
		<div class="goods_info_right">
			<!--
				商品评价
				goods_stars_1 = 1星
				goods_stars_2 = 2星
				goods_stars_3 = 3星
				goods_stars_4 = 4星
				goods_stars_5 = 5星
			-->
			<dl class="goods_info">
				<input type='hidden' id='w_id' name='w_id' value="<{$data.id}>">
				<dt><a href="#"><strong class="f14"><{$data.w_name}></strong></a></dt>
				<dd>商品编号：<{$data.id}></dd>
				<dd>品　　牌：诺基亚</dd>
				<dd>普 泰 价：<strong class="f14 cb00" >￥<span id='price'><{$data.w_price}></span></strong> <a href="#" class="c110">降价通知</a></dd>
				<dd><span class="fl">商品评价：</span><b class="goods_stars goods_stars_5">goods_stars_5</b><a class="fl" href="#">(已有 0 人评价)</a></dd>
			</dl>
			<dl class="goods_gifts">
				<dt>赠品：</dt>
				<{section loop=$gift name='ls'}>
				<dd><a href="#"><{$gift[ls].g_name}></a> <span class="cb00">X<{$gift[ls].g_num}></span></dd>
				<{/section }>
			</dl>
			<div class="goods_others">
				<!--
					点击产品图，切换文字以及颜色
					产品颜色文字，以及色值，写入dd下的img的alt标签，格式为：文字|色值
				-->
				<dl id="goods_color">
					<dt>
						<span class="block">选择颜色：</span>
						<span class="block">已选择：“<span id="goods_color_info" style="color:#ff00ea;">粉色</span>”</span>
					</dt>
					<dd class="active"><a href="javascript:void(0)"><img src="<{$public}>/images/ware/<{$data.w_pic}>" width="50" height="50" alt="粉色|#ff00ea" /></a></dd>
					<!--
					<dd><a href="javascript:void(0)"><img src="images/goods/1.jpg" width="50" height="50" alt="黑色|#000000" /></a></dd>
					-->
				</dl>
				<dl>
					<dt>我 要 买：</dt>
					<dd><a href="javascript:void(0)" id="goods_amount_reduce">减少</a><input type="text" id="goods_amount" maxlength="3" value="1" name='goods_quantity' /><a href="javascript:void(0)" id="goods_amount_plus">增加</a></dd>
					<dd>库存：<span>有货</span>/<span class="cf00">缺货</span>/<span class="cffb">预定</span></dd>
				</dl>
				<dl>
					<dt>商品总价：</dt>
					<dd><strong class="f14 cb00">￥<span id='sumprice'><{$data.w_price}></span></strong></dd>
				</dl>
				<p class="clearFix"><a href="javascript:show()" id="goods_add_cart" >加入购物车</a><a href="#" id="goods_add_favo">收藏此商品</a></p>
				<!-- 购物车用 -->
				<input type="hidden" name="goods_id" value="<{$data.id}>" />
				<input type="hidden" name="Images_url" value="<{$data.w_pic}>" />
				<input type="hidden" name="goods_name" value="<{$data.w_name}>" />
				<input type="hidden" name="market_price" value="<{$data.w_price}>" />
				<script>
						function show(){
										//商品ID
										var goods_id = document.getElementsByName("goods_id")[0].value;
										//商品图片
										var goods_img=document.getElementsByName("Images_url")[0].value;
										//商品名称
										var goods_name = document.getElementsByName("goods_name")[0].value;
										
										//商品价格
										var market_price = document.getElementsByName("market_price")[0].value;
										
										//商品数目
										var goods_quantity = document.getElementById("goods_amount").value;	
										
										//将数组myCart存入cookie
										common.intoCart(goods_id,goods_name,market_price,goods_img,goods_quantity);		
						}
				</script>
			</div>
		</div>
		<!--产品信息 end-->
	</div>
	<div class="w960 mt_10">
		<div class="goods_left">
			<!--商品相关信息 start-->
			<ul id="goods_info_main">
				<li class="active"><a href="javascript:void(0)">商品介绍</a></li>
				<li><a href="javascript:void(0">商品属性</a></li>
				<li><a href="javascript:void(0">包装清单</a></li>
				<li><a href="javascript:void(0">售后服务</a></li>
			</ul>
			<div id="goods_info_sub">
				<div class="goods_info_sub_tabs">
					<img src="<{$public}>/images/iphone/1(125).jpg">
					<img src="<{$public}>/images/iphone/2(94).jpg">
					<img src="<{$public}>/images/iphone/4(78).jpg">
				</div>
				<div class="goods_info_sub_tabs none">
					这里格式是后台编辑器生成的？
					商品属性商品属性商品属性商品属性商品属性
				</div>
				<div class="goods_info_sub_tabs none">
					这里格式是后台编辑器生成的？
					包装清单包装清单包装清单包装清单包装清单包装清单
				</div>
				<div class="goods_info_sub_tabs none">
					这里格式是后台编辑器生成的？
					售后服务售后服务售后服务售后服务售后服务
				</div>
			</div>
			<!--商品相关信息 end-->
			<!--商品评价 start-->
			<div id="goods_evaluation">
				<ul class="goods_eva_info">
					<li><a href="#">全部评价（222）</a></li>
					<li><a href="#">好评（220）</a></li>
					<li><a href="#">中评（1）</a></li>
					<li><a href="#">差评（1）</a></li>
				</ul>
				<!--
					宽度显示
					ul id="goods_eva_details" 下的
					li class="li_1"
					中的<i></i>标签中写 0.00-1.00
				-->
				<ul id="goods_eva_details">
					<li class="li_0">
						<strong class="block f32">97%</strong>
						<span>好评度</span>
					</li>
					<li class="li_1">
						<p class="p_0"><span class="fl">好评</span><b class="icon"><i>0.97</i></b><span class="fl">97%</span></p>
						<p class="p_0"><span class="fl">中评</span><b class="icon"><i>0.02</i></b><span class="fl">2%</span></p>
						<p class="p_0"><span class="fl">差评</span><b class="icon"><i>0.01</i></b><span class="fl">1%</span></p>
					</li>
					<li class="li_2">
						<span class="block cf00">前5位发表评论的用户即可获得1元优惠卷。</span>
						<a href="#">查看优惠卷规则</a>
					</li>
					<li class="li_3">
						<span class="block">我曾在心云买过此商品</span>
						<a href="javascript:comment()">我要评价</a>
<div class="logins login_quick" id="unLogin" style="display:none;position:absolute; z-index:999999999;top:0;background:#FFFFFF;">
     <div class="logins_name"><span><img src="<{$public}>/images/logins_close.png" width="13" height="13"   onclick="unLoginClears(this)"/></span></div>
     <ul id="user_login_type">

			</ul>
			<div id="user_login_type_list">
				<div class="user_login_form">
					<form id="formlogins"  action="javascript:loginAjax()" method="post" onsubmit="submitComment(this)" name="commentForm" id="commentForm">
					<table align="center">
						<tr>
							<td>用户名:<input type='text' name='username' class='input_0'></td>
							</tr>
							 <tr><td>密	码: <input type='password' name='password' class='input_0'><td></tr>
							 <tr><td><input type='submit' value="登陆" id="user_reg_submit" style="border:0"></td><td><a href="<{$app}>/user/res">注册</a></td></tr>
					</table>
					<input id="comment" type="hidden" name="comment" value="1" />
					</form>
				</div>
  </div> 
</div>
						<script>
									function unLoginClears(thisis)
									{
											document.getElementById("unLogin").style.display = "none";
											document.body.removeChild(document.getElementById("comment_div"));
									}
									function getScrollTop()
									{
										var scrollTop=0;
										if(document.documentElement&&document.documentElement.scrollTop)
										{
											scrollTop=document.documentElement.scrollTop;
										}
										else if(document.body)
										{
											scrollTop=document.body.scrollTop;
										}
										return scrollTop;
									}
									function comment(){
											var bodys = document.createElement("DIV");
											bodys.style.position = "absolute";
											bodys.style.zIndex = "999999998";
											bodys.id = "comment_div";
											bodys.style.top = "0";
											bodys.style.width = (document.body.offsetWidth) + "px";
											bodys.style.height = (document.body.offsetHeight) + "px";
											document.body.appendChild(bodys);
											var d=document.getElementById('unLogin');
											d.style.display = "block";
											d.style.top= (parseFloat(getScrollTop())+150)+"px";
											d.style.left = parseInt((parseInt(document.body.offsetWidth)-450)/2) + "px";
									}	
						</script>
					</li>
				</ul>
			</div>
			<!--商品评价 end-->
			<!--商品留言 start-->
			<div class="goods_message">
				<div class="goods_mess_usr">
					<a href="#"><img src="<{$public}>/images/user.jpg" width="50" height="50" alt="" /></a>
					<a href="#" class="a_0">用户名</a>
					<span class="mt_10 c999 block">购买日期</span>
					<span class="c999">2011/03/17</span>
				</div>
				<div class="goods_mess_detail">
					<div class="goods_mess_tit">
						<span class="fl">姐姐说生日礼物，你值得拥有</span>
						<b class="goods_stars goods_stars_5">goods_stars_5</b>
						<span class="fr">2010/04/05 13:30:00</span>
					</div>
					<div class="goods_mess_text">
						<p class="goods_mess_text_left">
						</p>
						<a href="#" class="a_0">回 复</a>
					</div>
					<div class="goods_mess_reply">
						<dl>
							<dt>1.<a href="#">用户名</a> 回复说：</dt>
							<dd></dd>
						</dl>
						<dl>
							<dt>2.<a href="#">用户名</a> 回复说：</dt>
							<dd></dd>
						</dl>
					</div>
				</div>
			</div>
			<!--商品留言 end-->
			<ul class="goods_mess_flip">
				<li>共 12 页</li>
				<li><a href="#">第一页</a></li>
				<li><a href="#">上一页</a></li>
				<li><a href="#">下一页</a></li>
				<li><a href="#">最末页</a></li>
			</ul>
		</div>
		<div class="goods_right">
			<!--销售排行 start-->
			<h2 class="sell_ranking_tit">销售排行</h2>
			<div id="sell_ranking">
				<ul id="sell_tab_main">
					<li class="active"><a href="javascript:void(0)">同类别</a></li>
					<li><a href="javascript:void(0)">同品牌</a></li>
					<li><a href="javascript:void(0)">同价位</a></li>
				</ul>
				<div id="sell_tab_sub"> 
					<!--同类别-->
					<ol>
						<{section loop=$brand name='ls'}>
						<li>
							<p class="p_0"><strong class="strong_0"><{$smarty.section.ls.iteration}></strong> <a href="<{$url}>/ware/id/<{$brand[ls].id}>"><img width="50" height="50" class="fl" alt="" src="<{$public}>/images/ware/<{$brand[ls].w_pic}>"/></a></p>
							<p> <a href="<{$url}>/ware/id/<{$brand[ls].id}>"><{$brand[ls].w_name}></a></p>
							<p>商品介绍商品介绍商品介绍</p><p><strong class="f14 cf00">￥<{$brand[ls].w_price}>.00</strong></p>
						</li>
						<{/section}>
					</ol>
					<!--同品牌-->
					<ol class="none">
						<{section loop=$cat name='ls'}>
						<li>
							<p class="p_0"><strong class="strong_0"><{$smarty.section.ls.iteration}></strong> <a href="<{$url}>/ware/id/<{$cat[ls].id}>"><img width="50" height="50" class="fl" alt="" src="<{$public}>/images/ware/<{$cat[ls].w_pic}>"/></a></p>
							<p> <a href="<{$url}>/ware/id/<{$cat[ls].id}>"><{$cat[ls].w_name}></a></p>
							<p>商品介绍商品介绍商品介绍</p><p><strong class="f14 cf00">￥<{$cat[ls].w_price}>.00</strong></p>
						</li>
						<{/section}>

					</ol>
					<!--同价位-->
					<ol class="none">
						<{section loop=$price name='ls'}>
						<li>
							<p class="p_0"><strong class="strong_0"><{$smarty.section.ls.iteration}></strong> <a href="<{$url}>/ware/id/<{$price[ls].id}>"><img width="50" height="50" class="fl" alt="" src="<{$public}>/images/ware/<{$price[ls].w_pic}>"/></a></p>
							<p> <a href="<{$url}>/ware/id/<{$price[ls].id}>"><{$price[ls].w_name}></a></p>
							<p>商品介绍商品介绍商品介绍</p><p><strong class="f14 cf00">￥<{$price[ls].w_price}>.00</strong></p>
						</li>
						<{/section}>
					</ol>
				</div>
			</div>
			<!--销售排行 end-->
			<!--最近浏览过页面 start-->
			<div class="mt_10">
				<h2 class="recent_view_tit">最近浏览过页面</h2>
				<ul class="recent_view">
				<{section loop=$lately name='ls'}>
					<li>
						<p class="p_0"><a href="<{$url}>/ware/id/<{$lately[ls].id}>"><img width="50" height="50" alt="" src="<{$public}>/images/ware/<{$lately[ls].w_pic}>"/></a></p>
						<p><a href="<{$url}>/ware/id/<{$lately[ls].id}>"><{$lately[ls].w_name}></a></p>
						<p>商品介绍商品介绍商品介绍</p><p><strong class="f14 cf00">￥<{$lately[ls].w_price}>.00</strong></p>
					</li>
				<{/section}>
				</ul>
			</div>
			<!--最近浏览过页面 end-->
		</div>
	</div>
</div>
<{ include file='public/foot.html'}>
<script>



lastScrollY=0;
function heartBeat(){
var diffY;
if (document.documentElement && document.documentElement.scrollTop)
diffY = document.documentElement.scrollTop;
else if (document.body)
diffY = document.body.scrollTop
else
{/*Netscape stuff*/}
percent=.1*(diffY-lastScrollY);
if(percent>0)percent=Math.ceil(percent);
else percent=Math.floor(percent);
document.getElementById("full").style.top=parseInt(document.getElementById("full").style.top)+percent+"px";
lastScrollY=lastScrollY+percent;
if(diffY == 0){document.getElementById("full").style.display = "none"}
else{document.getElementById("full").style.display = "block"}
}
suspendcode="<div id=\"full\" class='full1' style='display:none; POSITION:absolute; left:95%; top:400px; z-index:100;'><a href='javascript:top()'  target='_self'><img src='../../../../public/images/top.gif'/></a></div>"
document.write(suspendcode);
window.setInterval("heartBeat()",1);
function top(){
	//	scrollTo(0,0)
	document.body.scrollTop = 0 ;
	document.documentElement.scrollTop = 0;
}




</script>
</body>

</html>
