@charset "utf-8";
a {color:#000;}

/*频道导航*/
p.channel_guide {height:24px;line-height:24px;padding-left:20px;border:1px solid #ccc;background:#fcf6ff;}

/*帮助 左右分列*/
.help_left {width:180px;overflow:hidden;float:left;}
.help_right {width:770px;overflow:hidden;float:right;}

/*帮助 左侧 列表*/
#help_left_menu {border:2px solid #ccc;}
.help_left_tit {height:36px;line-height:36px;font-size:14px;color:#fff;font-weight:700;padding-left:60px;background:url(help/help.png) 0 0 no-repeat;}
#help_left_menu dl {padding:1px;padding-bottom:0;zoom:1;}
#help_left_menu dl:after{content:' ';display:block;height:0;clear:both;overflow:hidden;visibility:hidden;}
#help_left_menu dt {height:27px;line-height:27px;overflow:hidden;background:url(help/help.png) 0 -38px repeat-x;padding:0 10px;font-weight:700;}
#help_left_menu dt a {color:#552470;float:left;}
#help_left_menu dt a:hover {color:#fff;}
#help_left_menu dt b.icon {float:right;width:9px;height:27px;background:url(help/help.png) -11px -67px no-repeat;cursor:pointer;}
#help_left_menu dd {float:left;width:100%;text-indent:1em;padding:3px 0;display:none;}
#help_left_menu dl.active {}
#help_left_menu dl.active dd {display:block;}
#help_left_menu dl.active dt b.icon {background-position:0 -67px}
#help_left_menu dd.dd_0 {text-align:center;text-indent:0;}
#help_left_menu dd.dd_0 span.span_0 {display:inline-block;*display:inline;*zoom:1;width:70px;height:20px;margin:0 3px;border:1px solid #c594e2;background:#fbefff;color:#1105b1;font-weight:700;}

/*帮助 右侧*/
.shop_process_tit {border:1px solid #ccc;height:36px;line-height:36px;padding-left:60px;background:#63377c url(help/help.png) -134px -67px no-repeat;font-size:14px;font-weight:700;color:#fff;}
.shop_process_ul_0 {border:1px solid #ccc;margin-top:10px;padding:10px 0;zoom:1;}
.shop_process_ul_0:after{content:' ';display:block;height:0;clear:both;overflow:hidden;visibility:hidden;}
.shop_process_ul_0 dl {float:left;width:150px;}
.shop_process_ul_0 dt {padding-left:60px;padding-right:10px;background:url(help/help.png) no-repeat;height:31px;line-height:31px;font-weight:700;width:80px;}
.shop_process_ul_0 dl.dl_0 dt{background-position:-127px -105px;}
.shop_process_ul_0 dl.dl_1 dt{background-position:-127px -138px;}
.shop_process_ul_0 dl.dl_2 dt{background-position:-127px -171px;}
.shop_process_ul_0 dl.dl_3 dt{background-position:-127px -204px;}
.shop_process_ul_0 dl.dl_4 dt{background-position:-127px -237px;}
.shop_process_ul_0 dd {margin-left:50px;height:20px;line-height:20px;padding-left:10px;background:url(help/help.png) -173px -485px no-repeat;}

.shop_process_ul_1 {border:1px solid #ccc;margin-top:10px;padding:10px 0;zoom:1;}
.shop_process_ul_1:after{content:' ';display:block;height:0;clear:both;overflow:hidden;visibility:hidden;}
.shop_process_ul_1 li {float:left;padding-left:70px;padding-right:10px;overflow:hidden;background:url(help/help.png) no-repeat;height:40px;line-height:40px;font-weight:700;margin-left:10px;display:inline;}
.shop_process_ul_1 li.li_0 {background-position:-115px -270px;}
.shop_process_ul_1 li.li_1 {background-position:-115px -312px;}
.shop_process_ul_1 li.li_2 {background-position:-115px -354px;}
.shop_process_ul_1 li.li_3 {background-position:-115px -396px;}
.shop_process_ul_1 li.li_4 {background-position:-115px -438px;}

.shop_process_dl {width:100%;margin-top:10px;border-bottom:1px dashed #ccc;}
.shop_process_dl dt {width:121px;height:26px;font-weight:700;color:#fff;line-height:26px;text-align:center;background:url(help/help.png) 0 -96px no-repeat;}
.shop_process_dl dd {line-height:2.5;display:inline;margin-left:10px;font-size:14px;}

/*帮助内容*/
.help_content {padding:10px 50px;border:1px solid #65377D;}
.help_flip {height:36px;line-height:36px;overflow:hidden;padding:0 10px;background:#eee9e9;border:1px solid #65377D;margin-top:10px;}

/*优势保障*/
.index_odds{}
.index_odds ul {width:1000px;text-align:center;}
.index_odds li {width:216px;margin-right:32px;overflow:hidden;float:left;}
.index_odds p.p_0 {border:2px solid #572471;margin-top:10px;height:58px;background:url(index/index_sprite.png) 0 -109px repeat-x;font-size:16px;font-family:'MicroSoft yaHei';line-height:24px;padding-top:6px;}


/*公用*/
.mt_5 {margin-top:5px;}
.ml_10 {margin-left:10px;}
.pro_name {height:2.6em;line-height:1.3em;overflow:hidden;}
.f14 {font-size:14px;}
.f32 {font-size:32px;}
.c999 {color:#999;}
.c110 {color:#1105b1;}
.cb00 {color:#bb0000;}
.c502 {color:#50216c;}
.cffb {color:#ffbc00;}
.yahei {font-family:'MicroSoft yaHei';}