<IfModule mod_rewrite.c>
   RewriteEngine on
   #RewriteRule    ^$ app/webroot/    [L]
   #RewriteRule    (.*) index.php/$1 [L]
   #RewriteRule ^$goods/(id-([0-9]+).html)$ /index.php/index/ware/id/$1 [L]
   #商品详细
   #RewriteRule ^goods-([0-9]+)(.*)\.html$ /index.php?m=index&a=ware&id=$1 [QSA,L]
   RewriteRule ^goods-([0-9]+)(.*)\.html$ /index.php/index/ware/id/$1 [QSA,L]
   #购物车
   RewriteRule ^cart$ /index.php/car/mycar [L]
   #结账
   RewriteRule ^order/orderinfo\.html$ /index.php/order/orderinfo [L]
   #分类
   RewriteRule ^category/list-([0-9]+)(.*)\.html$ /index.php/search/cat/cid/$1 [L]

</IfModule>