<div id="header">
  <div id="fabHeader">
  <ul id="leftNavToggle" class="floatLeft">
    <li class="mainFabIcon headerhover">
      <a id="homeImage" href="/" class="textHide"><span class="fabShopSprite homeIcon"></span></a>
    </li>
      <li id="todaySaleLink" class="poRel selected">
        <a style="line-height: 17px;height: 54px;" class="todaySaleLink" href="/index.php"><span class="newHeaderSalesIcon fabShopSprite"></span><br><br><span>Sales</span></a>
          <div class="newSaleNav">
            <div style="position: absolute;height: 12px;top:-12px;width:100%"><span class="tagTri" style="left:37px;"></span></div>
            <div class="overflowHidden">
              <div class="col1 floatLeft">
                <h2 style="padding-bottom:18px;">最新产品</h2>
                <ul id="newSalesList">
        			<{section loop=$newData name=nd}>
                    <li>
                      <a href="index.php/index/ware/id/<{$newData[nd].id}>">
                        <h5><{$newData[nd].c_name}> </h5>
                        <h6><{$newData[nd].w_name}></h6>
                      </a>
                    </li>
                   <{/section}>
                </ul>
              </div>
              <div class="col2 floatLeft">
                <h2 style="padding-bottom:18px;">即将下架</h2>
                <ul id="upCSalesList">
                	<{section loop=$endingsoondata name=esd}>
                      <li>
                        <a href="index.php/index/ware/id/<{$endingsoondata[esd].id}>">
                          <h5><{$endingsoondata[esd].c_name}></h5>
                          <h6><{$endingsoondata[esd].w_name}></h6>
                        </a>
                      </li>
                     <{/section}>
                </ul>
              </div>
            </div>
          </div>
      </li>
        <li class="poRel " id="popUpShopMenu">
          <a style="line-height: 17px;height: 54px;padding: 0 0.85em;" href="http://fab.com/shops/" class="popupShopLinks"><span class="newHeaderShopsIcon fabShopSprite"></span><br><br><span style="line-height: 17px;display: inline-block;">Shops</span></a>
          <div class="sub shopSubNav popupSalesNav">
            <div style="position: absolute;height: 12px;top:-12px;width:100%"><span class="tagTri" style="left:37px;"></span></div>
              <div class="overflowHidden">
                <div class="shopFirstMenu row floatLeft">
                  <h2 style="padding-top: 2px;">按分类浏览</h2>
                  <div class="floatLeft">
                    <ul style="width:158px;margin-right: 30px;">
                    	<{section loop=$category name=cat }>
                        <li class="cat_parent">
                          <a href="<{$url}>">
                            <{$category[cat].c_name}>
                            <em style="text-align: right;font-size: 12px;font-style: normal;color: #ccc;float: right"><{$category[cat].subcat|@count}></em>
                          </a>
                          <ul class="hide cat_child">
                         	<{section loop=$category[cat].subcat name='a'}>
	                          	<li><a href="<{$app}>/search/cat/cid/<{$category[cat].subcat[a].id}>"><{$category[cat].subcat[a].c_name}></a></li>
							<{/section}>
                          </ul>
                        </li>
                        <{/section}>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        </li>
          <li id="livefeedNav" class="poRel ">
            <a style="line-height: 17px;height: 54px;width: 42px;text-align: center;" href="http://fab.com/feed/" alt="Live Feed" title="Live Feed">
              <span class="newHeaderLiveFeedIcon textHide fabShopSprite"></span><br><br><span style="line-height: 17px;display: inline-block;">Feed</span>
            </a>
          </li>
      <li id="upcomingSaleLink" class="poRel ">
        <a style="line-height: 17px;height: 54px;" class="upcomingSaleLink" href="http://fab.com/upcoming-sales/?tb=cs"><span class="newHeaderCalenderIcon fabShopSprite"></span><br><br><span style="line-height: 17px;display: inline-block;">Calendar</span></a>
      </li>
      <li>
        <a style="line-height: 17px;height: 54px;padding: 0 0.7em;" href="http://fab.com/inspiration/"><span class="newHeaderInspirationIcon fabShopSprite"></span><br><br><span style="line-height: 17px;display: inline-block;">Inspiration</span></a>
      </li>
      <li class="ivtFrndsOpt">
        <a style="line-height: 17px;height: 54px;padding: 0 1.16em;" class="ivtFrndsButton" href="https://fab.com/invites/"><span class="newHeaderInviteIcon fabShopSprite"></span><br><br><span style="line-height: 17px;display: inline-block;">Invite</span></a>
      </li>
      <li title="Get the Fab App!" class="poRel ">
        <a style="line-height: 5px;height: 54px;padding: 0 0.85em;" href="http://fab.com/downloads/"><span class="fabShopSprite newHeaderMobileIcon"></span><br><br><span style="line-height: 12px;display: inline-block;">Mobile</span></a>
      </li>
        <li id="splOfferLinkMadonna" class="poRel" data-params="sale">
          <a style="line-height: 3px;height: 54px;padding: 0 0.82em;" href="javascript:void(0)" alt="Madonna">
            <span class="fabShopSprite musicIcon" style="margin-left: 13px;"></span><br><br>
            <span style="line-height: 15px;display: inline-block;">Madonna</span>
          </a>
        </li>
  </ul>
	
	
  <ul id="rightNavToggle" class="floatRight">
        <li id="cartNav" class="poRel">
	          <a id="scMenu" href="/index.php/car/mycar" style="height: 54px;">
	            <span class="userCartList textHide fabShopSprite" style="margin-top:20px;">购物车</span>
	            <span class="crtLstNotification round7 hide">0</span>
	          </a>
	        <ul id="sCart" class="borderRB12">  <li class="cartEmpty">暂无商品</li>
				<li class="cartLast borderRB12">
				  <span class="fabShopSprite back_icon floatLeft poRel" style="top:8px;margin-right: 8px">&lt;</span>
				  <a class="cartLink floatLeft" href="/">继续购物</a>
				</li>
			</ul>
        </li>
      <li id="userSettingOpt">
        <a style="font-weight:bold;" href="javascript:void(0)" id="fabUserName" title="wcj343169893" alt="wcj343169893">wcj343169893
        <span class="fabShopSprite iRecentIcon"></span>
        </a>
        <div class="userMenuD">
          <ul>
            <li><a class="userSetting" href="http://fab.com/wcj343169893/">Profile</a></li>
            <li><a class="userSetting" href="https://fab.com/settings/">Account Information</a></li>
            <li><a class="userSetting" href="https://fab.com/email-preferences/">Email Preferences</a></li>
            <li><a class="userSetting" href="https://fab.com/my-order/">My Orders</a></li>
            <li><a class="userSetting" href="https://fab.com/my-payment-methods/">Payment Methods</a></li>
            <li><a class="userSetting" href="https://fab.com/my-credits/">My Credits</a></li>
            <li><a class="userSetting" href="https://fab.com/invites/">Invites</a></li>
            <li><a class="userSetting" href="https://fab.com/logout/">Logout</a></li>
          </ul>
        </div>
      </li>
  </ul>
</div>


</div>
