<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link href="<{$res}>/css/general.css" rel="stylesheet" type="text/css" />
<link href="<{$res}>/css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="list-div">
<table cellspacing='1' cellpadding='3'>
  <tr>
    <th colspan="4"  valign='center'><b>基本信息</b></th>
  </tr>
  <tr>
    <td width="20%" align='right'><b>订单号:</b></td>
    <td width="30%"><{$data.order_id}></td>
    <td width="20%" align='right'><b>订单状态:</b></td>
    <td width="30%">
		<{if $data.ok eq 0}>
					未确认
			<{else}>
					已确认
			<{/if}>
			、
			<{if $data.pay eq 0}>
					未付款
			<{else}>
					已付款
			<{/if}>
			、
			<{if $data.consignment  eq 0}>
					未发货
			<{elseif $data.consignment  eq 1}>
					已发货
			<{else}>
					收货确认
			<{/if}>
	</td>
  </tr>
  <tr>
   <td width="20%" align='right'><b>购货人</b></td>
    <td><{$data.consignee}></td>
    <td width="20%" align='right'><b>下单时间</b></td>
    <td><{$data.order_time|date_format:"%Y-%m-%d %T"}></td>
  </tr>
  <tr>
    <td width="20%" align='right'><b>支付方式:</b></td>
    <td>网银支付</td>
    <td width="20%" align='right'><b>付款时间:</b></td>
    <td>未付款</td>
  </tr>
  <tr>
    <td width="20%" align='right'><b>配送方式:</b></td>
    <td>圆通快递</td>
    <td width="20%" align='right'><b>发货时间:</b></td>
    <td>未发货</td>
  </tr>
  <tr>
    <td width="20%" align='right'><b>发货单号:</b></td>
    <td>未发货</td>
    <td width="20%" align='right'><b>订单来源:</b></td>
    <td>本站</td>
  </tr>

<table cellspacing='1' cellpadding='3'>
  <tr>
    <th colspan="4"  valign='center'><b>收货人信息</b></th>
  </tr>
  <tr>
    <td width="20%" align='right'><b>收货人:</b></td>
    <td width="30%"><{$data.consignee}></td>
    <td width="20%" align='right'><b>电子邮件:</b></td>
    <td width="30%"><{$data.email}></td>
  </tr>
  <tr>
   <td width="20%" align='right'><b>地址</b></td>
    <td><{$data.city1}> <{$data.city2}> <{$data.city3}> <{$data.address}></td>
    <td width="20%" align='right'><b>邮编</b></td>
    <td><{$data.postal}></td>
  </tr>
  <tr>
    <td width="20%" align='right'><b>电话:</b></td>
    <td><{$data.dh}></td>
    <td width="20%" align='right'><b>手机:</b></td>
    <td><{$data.phone}></td>
  </tr>
  <tr>
    <td width="20%" align='right'><b>标志性建筑:</b></td>
    <td>否</td>
    <td width="20%" align='right'><b>最佳送货时间:</b></td>
    <td><{$data.sendtime}></td>
  </tr>
</table>
<table cellspacing='1' cellpadding='3'>
  <tr>
    <th colspan="7"  valign='center'><b>商品信息</b></th>
  </tr>
    <tr>
    <td width="30%" align='center'><b>商品名称 [ 品牌 ]</b></td>
    <td width="15%" align='center'><b>货号</b></td>
    <td width="15%" align='center'><b>价格</b></td>
    <td width="10%" align='center'><b>数量</b></td>
	<td width="10%" align='center'><b>属性</b></td>
	<td width="10%" align='center'><b>库存</b></td>
	<td width="10%" align='center'><b>小计</b></td>
  </tr>
  <{section loop=$data2 name='ls'}>
    <tr>
    <td width="30%" align='center'><{$data2[ls].w_name}></td>
    <td width="15%" align='center'><{$data2[ls].w_code}></td>
    <td width="15%" align='center'><{$data2[ls].w_price}></td>
    <td width="10%" align='center'><{$data2[ls].num}></td>
	<td width="10%" align='center'></td>
	<td width="10%" align='center'><{$data2[ls].w_num}></td>
	<td width="10%" align='center'>￥<{$data2[ls].num*$data2[ls].w_price}>.00</td>
  </tr>
  <{/section}>
  <tr><td colspan='5'></td><td align='right'>合计</td><td>￥<{$data.price}>.00</td></tr>
  <tr>

<table cellpadding="3" cellspacing="1">
  <tr>
    <th colspan="6">操作信息</th>
  </tr>
  <tr>
 <form action="<{$url}>/submit" method='post'>
    <td><div align="right"><strong>操作备注：</strong></div></td>
  <td colspan="5"><textarea name="action_note" cols="80" rows="3"></textarea></td>
    </tr>
  <tr>
    <td><div align="right"></div>
      <div align="right"><strong>当前可执行操作：</strong> </div></td>
    <td colspan="5">

					<{if $data.ok eq 0}>
					<input name="pay" type="submit" value="确认" class="button" />
					<{/if}>
					<{if $data.consignment eq 0 && $data.pay eq 0}>
                    <input name="unship" type="submit" value="发货" class="button" onclick="return confirm('该订单还未付款,确认要发货吗?'); " />
					<{/if}>
					<{if $data.consignment eq 0 && $data.pay eq 1}>
					                    <input name="unship" type="submit" value="发货" class="button" />
					<{/if}>
                    <input name="return" type="submit" value="取消" class="button" />
					<input name="after_service" type="submit" value="无效" class="button" /> 
					<input name="after_service" type="submit" value="售后" class="button" /> 
					<input name="order_id" type="hidden" value="<{$data.id}>"></td>
    </tr>
  <tr>
    <th>操作者：</th>
    <th>操作时间</th>
    <th>订单状态</th>
    <th>付款状态</th>
    <th>发货状态</th>
    <th>备注</th>
  </tr>
  <{section loop=$data3 name='ls'}>
  <tr>
  <td align='center'><{$data3[ls].operater}></td>
   <td align='center'><{$data3[ls].operate_time|date_format:"%Y-%m-%d %T"}></td>
	<td align='center'>		
		<{if $data3[ls].ok eq 0}>
					未确认
			<{else}>
					已确认
			<{/if}></td>
	<td align='center'>			<{if $data3[ls].pay eq 0}>
					未付款
			<{else}>
					已付款
			<{/if}></td>
	<td align='center'>			
			<{if $data3[ls].consignment  eq 0}>
					未发货
			<{elseif $data3[ls].consignment  eq 1}>
					已发货
			<{else}>
					收货确认
			<{/if}></td>
	 <td align='center'><{$data3[ls].desn}></td>
	 </tr>
  <{/section}>
  </table>
</div>
</body>
