@charset "utf-8";
/*全局*/
/*reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,textarea,p,th,td,tr,table,tbody,thead,tfoot,em,strong,span {padding:0;margin:0;} 
table {border-collapse:collapse;border-spacing:0;} 
body{z-index:-1;position: relative;}
img {border:0 none;} 
input {vertical-align:middle;}
em {font-weight:normal;font-style:normal;} 
ol,ul {list-style:none;} 
h1,h2,h3,h4,h5,h6 {font-weight:normal;font-size:100%;} 
.clearFix:after{content:' ';display:block;height:0;clear:both;overflow:hidden;visibility:hidden;}
.clearFix {*zoom:1;}
.clear {display:block;text-indent:-9999px;clear:both;line-height:0;font-size:0;height:0;overflow:hidden;}
.fl {float:left;display:inline;}
.fr {float:right;display:inline;}
.none {display:none;}
.block {display:block;}
.border0{ border:0;}
/*本站*/
body {font-size:12px;font-family:simsun,arial,tahoma;line-height:1.5;}
a {color:#005aa0;text-decoration:none;}
a:hover {color:#f00;text-decoration:none;}
.w960 {width:960px;overflow:hidden;margin:0 auto;}
.c666 {color:#666;}
.cde5 {color:#de5d00;}
.c040 {color:#040af8;}
.cf00 {color:#f00;}
.icon {display:block;text-indent:-999em;overflow:hidden;}
.mt_10 {margin-top:10px;}
.hands{cursor: pointer;}
/*头部*/
#header{}
#min_header {width:100%;height:35px;background:url(header/h_f_sprite.png) 0 0 repeat-x;overflow:hidden;color:#666;}
.min_logo {float:left;}
.min_logo a {float:left;}
.min_logo span.span_0 {float:left;margin-left:10px;margin-top:12px;}
.mini_header_right {float:right;margin-top:12px;}
.min_button {height:18px;line-height:18px;float:left;padding-left:5px;background:url(header/h_f_sprite.png) -195px -499px no-repeat;margin:0 3px;}
.min_button span.span_1 {float:left;height:18px;background:#e1e1e1;padding:0 8px 0 5px;}
.mini_header_right ul {float:left;margin-left:10px;}
.mini_header_right ul li {float:left;}
.mini_header_right ul li a {float:left;padding:0 10px;color:#666;}
.mini_header_right ul li a:hover {text-decoration:underline;}
/*头部广告条*/
/*头部搜索*/
.header_func {width:920px;overflow:hidden;margin:10px auto 0;height:46px;overflow:hidden;}
.header_logo {float:left;display:inline;}
.header_search {float:left;margin-left:60px;}
.header_search {}
.search {height:23px;overflow:hidden;float:left;}
#search_input {height:21px;width:256px;overflow:hidden;padding-left:30px;border:1px solid #dadada;background:url(header/h_f_sprite.png) -178px -449px no-repeat;float:left;}
#search_input input {border:0 none;background:none;height:21px;line-height:21px;width:100%;float:left;color:#9fa0a0;}
.search a,.search a:hover {width:58px;height:23px;overflow:hidden;line-height:22px;text-align:center;color:#fff;float:left;background:url(header/h_f_sprite.png) 0 -449px no-repeat;margin-left:10px;}
#search_input input.active {color:#000;}
.serch_btn{width:58px;height:23px;overflow:hidden;line-height:22px;text-align:center;color:#fff;float:left;background:url(header/h_f_sprite.png) 0 -449px no-repeat;margin-left:10px; border:0; cursor:pointer;}

.header_search dl {float:left;margin-top:5px;clear:both; white-space:nowrap;}
.header_search dt {display:inline;}
.header_search dd {display:inline;}
.header_search dd a {color:#666;}
.header_search dd a:hover {text-decoration:underline;color:#000;}
/*主导航*/
#nav {height:36px;overflow:hidden;width:960px;margin:10px auto 0;position:relative;z-index:9999;}
#nav ul {float:left;}
#nav li {float:left;padding-left:25px;background:url(header/h_f_sprite.png) 0 -342px no-repeat;height:33px;font-size:14px;line-height:33px;font-weight:700;margin-top:3px;}
#nav li a {color:#000;float:left;}
#nav li b.icon {width:25px;height:33px;background:url(header/h_f_sprite.png) -175px -342px no-repeat;float:left;}
#nav li.active {height:36px;line-height:36px;margin:0;background:url(header/h_f_sprite.png) 0 -304px;}
#nav li.active a {color:#fff;}
#nav li.active b.icon {background-position:-175px -304px;}
#nav li a:hover {text-decoration:underline;}
.mr_20 {margin-right:20px;}
/*商品导航*/
#nav_goods {height:34px;width:100%; margin:0 auto; background:url(header/h_f_sprite.png) 0 -240px repeat-x;margin-top:-2px;position:relative;z-index:9998;padding-top:2px;}
.header_goods_list {float:left;}
.header_goods_list li {display:inline;line-height:34px;height:34px;color:#fff;}
.header_goods_list li a {padding:0 10px;color:#fff;}
.header_goods_list li a:hover {text-decoration:underline;}
.header_cart {float:right;height:25px;margin-top:3px;margin-right:5px;background:url(header/h_f_sprite.png) 0 -277px repeat-x;overflow:hidden;line-height:25px;padding-right:15px;}
.header_cart p.p_0 {padding-left:45px;background:url(header/h_f_sprite.png) -165px -472px no-repeat;}
.header_cart a.a_0 {text-decoration:underline;}
#header_goods {position:absolute;left:50%;margin-left:-480px;width:960px;overflow:hidden;z-index:9998;top:34px;}
.goods_pop {border:3px solid #cc88f1;float:left;display:none;background:#fff; padding:10px 40px;}
.goods_pop_left a,.goods_pop_middle a {color:#333;}
.goods_pop_left a:hover,.goods_pop_middle a:hover {text-decoration:underline;}
.goods_pop_left {width:200px;overflow:hidden;float:left;padding:10px;}
.goods_pop_left h3,.goods_pop_right h3,.goods_pop_middle h3 {font-weight:bold; line-height:30px;text-align:center; border-bottom:1px dotted #ccc;}

.goods_pop_left ul,.goods_pop_middle ul {width:100%;overflow:hidden;padding-bottom:5px; padding-top:10px;}
.goods_pop_left li,.goods_pop_middle li {white-space:nowrap; line-height:24px; width:100px; display:block; float:left;}
.goods_pop_left li a,.goods_pop_middle li a {}

.goods_pop_middle{width:200px;overflow:hidden;float:left;padding:10px; text-align:center;}
.goods_pop_middle li{clear:both;width:200px; overflow:hidden; text-align:center;overflow:hidden;}

.goods_pop_right {width:160px;overflow:hidden;float:left;padding:10px; margin-left:40px;}
.goods_pop_right li {width:71px;height:29px;overflow:hidden;float:left;padding:0 4px 10px;}
.goods_pop_right li img {display:block;width:69px;height:27px;overflow:hidden;border:1px solid #cc88f1;}
.goods_pop_right li a:hover img {border-color:#f00;}
.goods_pop_right ol{margin-top:10px;}

/*底部*/
#service {border:1px solid #7f3da0;padding:10px;}
#service dl {float:left;width:130px;padding-left:10px;}
#service dt {font-weight:700;height:16px;line-height:16px;padding-left:24px;background:url(header/h_f_sprite.png) no-repeat;margin:5px 0;}
#service dl.dl_0 dt {background-position:-180px -519px;}
#service dl.dl_1 dt {background-position:-180px -537px;}
#service dl.dl_2 dt {background-position:-180px -555px;}
#service dl.dl_3 dt {background-position:-180px -573px;}
#service dl.dl_4 dt {background-position:-180px -591px;}
#service dd {padding:4px 0 4px 24px;}
#service dl a{color:#666;}
#service dl a:hover {text-decoration:underline;}
#footer {width:100%;height:195px;padding-top:6px;margin-top:10px;background:url(header/h_f_sprite.png) 0 -37px repeat-x;text-align:center;}
#footer a:hover {text-decoration:underline;}
#links {height:30px;width:100%;overflow:hidden;background:#53246f;color:#fff;line-height:30px;}
#links dt,#links dd {display:inline;}
#links dd a {color:#fff;padding:0 10px 0 5px;}
.footer_nav {width:100%;overflow:hidden;color:#000;margin-top:10px;}
.footer_nav li {display:inline;}
.footer_nav a {padding:0 10px 0 5px;color:#000;}
.footer_links {width:100%;overflow:hidden;color:#000;margin-top:10px;}
.footer_links li {display:inline;margin:0 5px;}
.footer_links li img {border:1px solid #dadada;}
.footer_links li a:hover img {border-color:#f00;}





/*登录公共样式*/
.user_vali{ width:80px;border:1px solid #CCCCCC; height:20px;margin-top:5px;}

/*购物车样式*/
.cart{top:248px;width:407px; height:auto; border:3px solid #6C4283; background:#FFF; position: absolute;right:0; background:#FBEFFF;z-index:999999}
.rows_goods{width:960px; margin:0 auto; position: absolute; z-index:999999999; }

.goods_imgs{ padding:10px 15px 10px 10px; float:left;}
.goods_cat_img{border:1px solid #CCC}
.clear{ clear:both;}
.goods_names_p{ float:left; line-height:20px;  width:170px; padding-top:20px; display:block}
.goods_priceses{ padding-top:20px; float:right;padding-right:10px; font-weight:bold; color:red; text-align:right; line-height:20px;}
.infos{ line-height:22px;text-align:right;padding-right:10px;}
.goods_pr_p{ font-size:14px;font-family:'微软雅黑'; color:red}


.a_f00{color:#f00;}
.a_f00 a:hover,a:hover.a_f00{color:#000;}

.index_top{ padding-down:10px;}
#index_hd .body_natday{background:url(../images/body_netday1.jpg) no-repeat center 35px;*background:url(../images/body_netday.jpg) no-repeat center 35px; min-height:450px;}
#index_hd .border_natday_border{background:url(../images/body_netday_border.jpg) repeat-x #FFF; min-height:450px;}
#index_hd .index_top{ padding-down:53px;}
#nav_goods{ width:960px;}
 #links{ width:960px; margin:0 auto;}