@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,textarea,p,th,td,tr,table,tbody,thead,tfoot,em,strong,span {padding:0;margin:0;} 
table {border-collapse:collapse;border-spacing:0;} 
img {border:0 none;} 
input {vertical-align:middle;}
em {font-weight:normal;font-style:normal;} 
ol,ul {list-style:none;} 
h1,h2,h3,h4,h5,h6 {font-weight:normal;font-size:100%;} 
.clearFix:after{content:' ';display:block;height:0;clear:both;overflow:hidden;visibility:hidden;}
.clearFix {*zoom:1;}
.clear {display:block;text-indent:-9999px;clear:both;line-height:0;font-size:0;height:0;overflow:hidden;}

a {text-decoration:none;color:#000;cursor:pointer;}
a:hover {text-decoration:none;}
.fl {float:left;display:inline;}
.fr {float:right;display:inline;}
.none {display:none;}
.block {display:block;}