<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title><{$shopConfig.shop_name}>-首页</title>
<script type="text/javascript" src="<{$public}>/js/jquery.js"></script>
<script type="text/javascript" src="<{$public}>/js/swfobject.js"></script>
<script type="text/javascript" src="<{$public}>/js/timeCountDown.js"></script>
<link rel="stylesheet" href="<{$public}>/css/sales.min.css" media="all" type="text/css"/>
</head>
<body>
<{include file='public/head.html' }>
<div id="fabWrapper" class="wrapperMesh">
<div id="contentWrapper">
  <div class="fabBorderSpace"></div>
<div class="clear"></div>
 <div id="featuredShop" class="poRel" style="*margin-bottom: 6px"> 
    <h2 class="salesTitle salesTitleEndSn">Featured <em class="redText">Shops</em></h2> 
    <div id="originalImage" class="displayNone"></div> 
    <div id="featuredShopSliderContent"> 
      <div class="imgSliderWrap"> 
        <div class="buttonBg floatLeft"><span id="nextButton" class="buttons floatLeft"><span class="nextIcon fabShopSprite"></span></span></div> 
        <div id="featuredAlbumSlidesContainer"> 
          <ul id="foundImages"> 
          <{section loop=$hotData name=hd}>
              <li class="alignCenter foundImagesSlide poRel"> 
                <a href="<{1|getURL:$hotData[hd].goods_id}>" class="gimg" data-img-url=""> 
                  <img src="<{$hotData[hd].goods_img}>" alt="<{$hotData[hd].goods_name}>"/> 
                  <span class="imgInfoBottom imgInfoBottomShopsMain"><span class="floatLeft"><h3><{$hotData[hd].goods_name}></h3></span></span>
                </a> 
              </li> 
             <{/section}>
          </ul> 
        </div> 
        <div class="buttonBg floatRight"><span id="prvButton" class="buttons floatRight"><span class="prvIcon fabShopSprite"></span></span></div> 
      </div> 
      <div class="clear"></div> 
    </div> 
  </div> 
  <div class="fabBorderSpace"></div>
  <div id="salesListPage">
    <h1 class="salesTitle salesTitleEndSn "><em class="redText"></em>最新商品</h1>
    <ul class="salesWrap" style="width: 938px;">
    	<{section loop=$newData name=nd}>
        <li class="imgList <{if $smarty.section.nd.index%2 eq 1}>even<{else}>odd<{/if}> filler">
          <a href="<{1|getURL:$newData[nd].goods_id}>" title=""><img src="<{$newData[nd].goods_img}>" alt="<{$newData[nd].goods_name}>" style="width:460px;height: 460px;"/></a>
          <a class="dB" href="<{1|getURL:$newData[nd].goods_id}>" title="" style="*cursor: pointer">
            <span class="imgInfoTop">
              <span class="floatLeft">
                <h3><{$newData[nd].cat_name}></h3>
                <span class="imgDescription desc_345"><{$newData[nd].goods_name}></span>
              </span>
              <span class="viewDet floatRight round20 fabGrad" href="<{1|getURL:$newData[nd].goods_id}>"><span class="fabShopSprite gtIcon imgInfoArrow"></span></span>
            </span>
          </a>
          <a class="dB" href="<{1|getURL:$newData[nd].goods_id}>" title="" style="*cursor: pointer">
            <span class="imgInfoBottomHov hide">
              <h3 class="imgDesEndSn">
                <{$newData[nd].sale_end_time|compareDate}> 
              </h3>
              <span class="fabShopSprite greyClockBig marginLeft5"></span>
            </span>
          </a>
        </li>
        <{/section}>
    </ul>
    <div class="clear"></div>
  </div>
  <div class="fabBorderSpace" id="pop-up-shop"></div>
  <div class="clear"></div>

  <div class="endingSoonWrap">
    <h2 class="salesTitle salesTitleEndSn ">即将<em class="redText"> 下架</em></h2>
    <ul class="endSoonWrap">
    <{section loop=$endingsoondata name=esd}>
        <li class="imgList">
          <a class="filler" href="<{1|getURL:$endingsoondata[esd].goods_id}>"  title=""><img src="/<{$endingsoondata[esd].goods_img}>" alt="" title=""/></a>
          <a class="dB" href="<{1|getURL:$endingsoondata[esd].goods_id}>" title="" style="*cursor: pointer">
            <span class="imgInfoBottom">
              <span class="floatLeft">
                <h3><{$endingsoondata[esd].cat_name}></h3>
                <span class="imgDescription desc_226"><{$endingsoondata[esd].goods_name}></span>
              </span>
              <span class="viewDet floatRight round20 fabGrad" href="<{1|getURL:$endingsoondata[esd].goods_id}>"><span class="fabShopSprite gtIcon imgInfoArrow"></span></span>
            </span>
          </a>
          <a class="dB" href="<{1|getURL:$endingsoondata[esd].goods_id}>" title="" style="*cursor: pointer">
            <span class="imgInfoTopHov hide">
              <h3 class="imgDesEndSn">
                <{$endingsoondata[esd].sale_end_time|compareDate}>
              </h3>
              <span class="fabShopSprite greyClockBig marginLeft5"></span>
            </span>
          </a>
        </li>
       <{/section}>
    </ul>
    <div class="clear"></div>
  </div>
  <div class="fabBorderSpace"></div>
  <div class="clear"></div>
  <div class="upcommingWrap forIndex">
    <h2 class="salesTitle salesTitleEndSn floatLeft"><em class="redText">即将</em> 上架</h2>
    <span class="floatRight viewAllButton"><a class="" href="#">更多</a></span>
    <div class="clear"></div>
        <div class="fstDySale" style="padding-bottom:10px;">
					<span class="salesDateTime" style="padding-bottom:10px;">
						<{$tr1}>
						<span class="salesTagIcon fabShopSprite"></span>
					</span>
					<ul>
  								<li class="noBorderBottom">
  									<span class="salesDailyWeeklyShop" style="display: block;">
  										<span class="weeklyShopsUpCominSalesDollarIcon fabShopSprite floatLeft dIB"></span>
  										<span style="color:black; font-size: 22px">&nbsp;&nbsp;Daily Sales</span>
  									</span>
  									<span class="salesDateBox borderR9">
  										<span class="triIcon"></span>
  										<span class="salesWatchIcon fabShopSprite"></span>
                      					<span>starts <{$tr1}> 11am ET</span>
  									</span>
  									<ul id="upcmgContent" class="showHideToggleClass">
  									<{section loop=$tr1Data name="td"}>
  											<li>
  												<a href="<{1|getURL:$tr1Data[td].goods_id}>">
  													<span class="title"><{$tr1Data[td].cat_name}></span>
  													<span class="des"><{$tr1Data[td].goods_name}></span>
  												</a>
  												<span class="imgList transBrd transBrdHvr hide">
  													<span class="hoverArrow"></span>
  													<a href="<{1|getURL:$tr1Data[td].goods_id}>" class="filler"><img src="/<{$tr1Data[td].goods_img}>" alt="" width="300" height="300" title="" /></a>
  													<span class="imgInfoBottom">
  														<span class="floatLeft">
  															<h3><{$tr1Data[td].cat_name}></h3>
  															<span class="imgDescription desc_236"><{$tr1Data[td].goods_name}></span>
  														</span>
  														<a class="viewDet floatRight round20 fabGrad" href="<{1|getURL:$tr1Data[td].goods_id}>"><span class="fabShopSprite gtIcon imgInfoArrow"></span></a>
  													</span>
  													<span class="imgInfoTopHov hide">
  														<h3 class="imgDesEndSn">
  															<{$tr1Data[td].sale_end_time|compareDate}>
  														</h3>
  														<span class="fabShopSprite greyClockBig marginLeft5"></span>
  													</span>
  												</span>
  											</li>
  											<{/section}>
  									</ul>
  								</li>
						</ul>
        </div>

        <div class="secDySale" style="padding-bottom:10px;">
					<span class="salesDateTime" style="padding-bottom:10px;">
						<{$tr2}>
						<span class="salesTagIcon fabShopSprite"></span>
					</span>
					<ul>
  								<li class="noBorderBottom">
  									<span class="salesDailyWeeklyShop" style="display: block;">
  										<span class="weeklyShopsUpCominSalesDollarIcon fabShopSprite floatLeft dIB"></span>
  										<span style="color:black; font-size: 22px">&nbsp;&nbsp;Daily Sales</span>
  									</span>
  									<span class="salesDateBox borderR9">
  										<span class="triIcon"></span>
  										<span class="salesWatchIcon fabShopSprite"></span>
                     		 		<span>starts <{$tr2}> 11am ET</span>
  									</span>
  									<ul id="upcmgContent" class="showHideToggleClass">
  										<{section loop=$tr2Data name=t2d}>
  											<li>
  												<a href="<{1|getURL:$tr2Data[t2d].goods_id}>" alt="">
  													<span class="title desc_246"><{$tr2Data[t2d].cat_name}></span>
  													<span class="des"><{$tr2Data[t2d].goods_name}></span>
  												</a>
  												<span class="imgList transBrd transBrdHvr hide">
  													<span class="hoverArrow"></span>
  													<a href="<{1|getURL:$tr2Data[t2d].goods_id}>" class="filler" alt=""><img src="/<{$tr2Data[t2d].goods_img}>" alt="" width="300" height="300" title=""></a>
  													<span class="imgInfoBottom">
  														<span class="floatLeft ">
  															<h3><{$tr2Data[t2d].cat_name}></h3>
  															<span class="imgDescription desc_236"><{$tr2Data[t2d].goods_name}></span>
  														</span>
  														<a class="viewDet floatRight round20 fabGrad" href="<{1|getURL:$tr2Data[t2d].goods_id}>"><span class="fabShopSprite gtIcon imgInfoArrow"></span></a>
  													</span>
  													<span class="imgInfoTopHov hide">
  														<h3 class="imgDesEndSn">
  															<{$tr2Data[t2d].sale_end_time|compareDate}>
  														</h3>
  														<span class="fabShopSprite greyClockBig marginLeft5"></span>
  													</span>
  												</span>
  											</li>
 										<{/section}>
  									</ul>
  								</li>
						</ul>
        </div>

        <div class="trdDySale" style="padding-bottom:10px;">
					<span class="salesDateTime" style="padding-bottom:10px;">
						<{$tr3}>
						<span class="salesTagIcon fabShopSprite"></span>
					</span>
					<ul>
  								<li class="noBorderBottom">
  									<span class="salesDailyWeeklyShop" style="display: block;">
  										<span class="weeklyShopsUpCominSalesDollarIcon fabShopSprite floatLeft dIB"></span>
  										<span style="color:black; font-size: 22px">&nbsp;&nbsp;Daily Sales</span>
  									</span>
  									<span class="salesDateBox borderR9">
  										<span class="triIcon"></span>
  										<span class="salesWatchIcon fabShopSprite"></span>
                      					<span>starts <{$tr3}> 11am ET</span>
  									</span>
  									<ul id="upcmgContent" class="showHideToggleClass">
  									<{section loop=$tr3Data name=t3d}>
  											<li>
  												<a href="<{1|getURL:$tr3Data[t3d].goods_id}>">
  													<span class="title"><{$tr3Data[t3d].cat_name}></span>
  													<span class="des"><{$tr3Data[t3d].goods_name}></span>
  												</a>
  												<span class="imgList transBrd transBrdHvr hide">
  													<span class="hoverArrow"></span>
  													<a href="<{1|getURL:$tr3Data[t3d].goods_id}>" class="filler" alt=""><img src="/<{$tr3Data[t3d].goods_img}>" alt="" width="300" height="300" title=""></a>
  													<span class="imgInfoBottom">
  														<span class="floatLeft">
  															<h3><{$tr3Data[t3d].cat_name}></h3>
  															<span class="imgDescription desc_236"><{$tr3Data[t3d].goods_name}></span>
  														</span>
  														<a class="viewDet floatRight round20 fabGrad" href="<{1|getURL:$tr3Data[t3d].goods_id}>"><span class="fabShopSprite gtIcon imgInfoArrow"></span></a>
  													</span>
  													<span class="imgInfoTopHov hide">
  														<h3 class="imgDesEndSn">
  															<{$tr3Data[t3d].sale_end_time|compareDate}>
  														</h3>
  														<span class="fabShopSprite greyClockBig marginLeft5"></span>
  													</span>
  												</span>
  											</li>
 										<{/section}>
  									</ul>
  								</li>
								
								
						</ul>
        </div>

    <div class="clear"></div>
  </div>
  <div class="fabBorderSpace"></div>
  <div class="clear"></div>
  <div class="getInspiredWrap">
    <h2 class="salesTitle salesTitleEndSn floatLeft"> <em class="redText">精华商品</em></h2>
    <a href="javascript:void(0)" onclick="window.location.href =;" class="positionRel floatRight">
      <span class="buyNowBg round20 viewAllBg floatRight">
        &nbsp;
      </span>
    </a>
    <div class="clear"></div>
    <ul>
    <{section loop=$datar name=dr}>
        <li>
          <div class="insImgCont filler">
            <a style="display: block;" href="<{1|getURL:$datar[dr].goods_id}>">
              <span style="height: 306px; width: 306px; background-image: url(&quot;/<{$datar[dr].goods_img}>&quot;);" class="insImg"></span>
            </a>
          </div>
          <div class="imageInfoWrap">
            <a href="<{1|getURL:$datar[dr].goods_id}>" data-image-id="weiner-dog-oil-vinegar-set" class="fabShopSprite infoIconBG">
              <span class="fabShopSprite infoIcon"></span>
            </a>
            <span class="imageInfoContent round5"><span class="fabShopSprite gtIcon imgInfoArrow"></span></span>
          </div>
          <p class="overflowHidden imgAuthInfo">
            <span class="floatLeft">
							<span class="imgBy floatLeft"><a href="<{1|getURL:$datar[dr].goods_id}>"><{$datar[dr].cat_name}></a></span>
              <span class="upldTimeInfo">
                <span class="upldTime fabShopSprite floatLeft"></span>
                <span class="upldTimeCount floatLeft"><{$datar[dr].sale_end_time|compareDate}></span>
              </span>
              <span class="fabSeprator fabShopSprite"></span>

              <span class="imgFabCount">
                  <a href="" rel="fabInspImg" title="FAB this photo" class="showLoginBox">
                    <span class="imgFab fabShopSprite"></span>
                  </a>
                <span class="fabIcon">462</span>
              </span>
              <span class="imgCountDetails">
                <a title="Comment on this photo" href="">
                  <span class="imgCount fabShopSprite"></span>
                </a>
                <span>
                  <fb:comments-count href="" class="fb_comments_count_zero"><span class="fb_comments_count" style="vertical-align: top !important;"></span></fb:comments-count>
              </span>
            </span>
            </span>
          </p>
        </li>
        <{/section}>
    </ul>
    <div class="clear"></div>
  </div>
  </div>
</div>
<{include file='public/foot.html' }>
<script type="text/javascript" src="<{$public}>/js/jquery.min.js"></script>
<script type="text/javascript" src="<{$public}>/js/easySlider1.7.js"></script>
<script type="text/javascript">
jQuery(document).ready(function() {
	$("#featuredAlbumSlidesContainer").easySlider({
		auto: true,
		continuous: false 
	});
});
</script>
</body>
</html>
