<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title><{$data.goods_name}> - <{$shopConfig.shop_name}></title>
<link href="<{$public}>/css/header.css" rel="stylesheet" type="text/css" />
<link href="<{$public}>/css/goods.css" rel="stylesheet" type="text/css" />
<link href="<{$public}>/css/reg.css" rel="stylesheet" type="text/css" />
<link href="<{$public}>/css/comment.css" rel="stylesheet" type="text/css" />
<link href="<{$public}>/css/zoom.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="<{$public}>/css/sales.min.css" media="all" type="text/css"/>
<script type="text/javascript" src="<{$public}>/js/jquery-1.4.2.js"></script>
<script type="text/javascript" src="<{$public}>/js/jquery.imagezoom.min.js"></script>
<script type="text/javascript" src="<{$public}>/js/goods.js"></script>
<script type="text/javascript" src="<{$public}>/js/operate_Cart.js"></script>
<script type="text/javascript" src="<{$public}>/js/operate_Cookie.js"></script>
<style>
.input_0 {background:none;border:1px solid #ccc;height:20px;line-height:20px;width:160px;}
</style>
</head>
<body>
<{ include file='public/head.html'}>
<div id="fabWrapper" class="wrapperMesh">
<div id="contentWrapper">
	<div class="fabBorderSpace"></div>
	<div class="frame_main">
		<!--产品图 start-->
		<div class="goods_info_left">
			<div class="clearFix">
				<div id="goods_img" class="zoom">
					<a href="javascript:void(0)"><img src="/<{$data.goods_img}>" alt="" rel="/<{$data.original_img}>" class="jqzoom" /></a>
				</div>
				<div id="goods_img_slide">
					<p id="goods_img_up"><a href="javascript:void(0)">向上</a></p>
					<ul>
					<{section loop=$gallerys name='g'}>
						<li class="active"><a href="javascript:void(0)"><img src="/<{$gallerys[g].thumb_url}>" width="50" height="50" alt="/<{$gallerys[g].img_url}>" rel="/<{$gallerys[g].img_original}>"/></a></li>
						<{/section}>
					</ul>
					<p id="goods_img_down"><a href="javascript:void(0)">向上</a></p>
				</div>
			</div>
			<div class="goods_share">
				<!-- 分享 -->
			    <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare"><a class="bds_qzone"></a><a class="bds_tsina"></a><a class="bds_renren"></a><a class="bds_tieba"></a><a class="bds_tqq"></a><a class="bds_douban"></a><span class="bds_more">更多</span><a class="shareCount"></a></div>
			</div>
		</div>
		<!--产品图 end-->
		<!--产品信息 start-->
		<div class="goods_info_right">
			<dl class="goods_info">
				<input type='hidden' id='w_id' name='w_id' value="<{$data.id}>">
				<dt><a href=""><strong class="f14"><{$data.goods_name}></strong></a></dt>
				<dd>商品编号：<{$data.goods_sn}></dd>
				<dd>品　　牌：<{$data.c_name}></dd>
				<dd>市场价格：<strong class="f14 cb00" >￥<del><{$data.market_price}></del></strong></dd>
				<dd>本店价格：<strong class="f14 cb00" >￥<span id='price'><{$data.shop_price}></span></strong></dd>
			</dl>
			<dl class="goods_gifts">
				<dt>赠品：</dt>
				<{section loop=$gift name='ls'}>
				<dd><a href="javascript:void(0)"><{$gift[ls].g_name}></a> <span class="cb00">X<{$gift[ls].g_num}></span></dd>
				<{/section }>
			</dl>
			<div class="goods_others">
				<dl id="goods_color">
					<dt>
						<span class="block">选择颜色：</span>
						<span class="block">已选择：“<span id="goods_color_info" style="color:#ff00ea;">粉色</span>”</span>
					</dt>
<!-- 					<dd class="active"><a href="javascript:void(0)"><img src="<{$public}>/images/ware/<{$data.w_pic}>" width="50" height="50" alt="粉色|#ff00ea" /></a></dd> -->
					<!--
					<dd><a href="javascript:void(0)"><img src="images/goods/1.jpg" width="50" height="50" alt="黑色|#000000" /></a></dd>
					-->
				</dl>
				<dl>
					<dt>我 要 买：</dt>
					<dd><a href="javascript:void(0)" id="goods_amount_reduce">减少</a><input type="text" id="goods_amount" maxlength="3" value="1" name='goods_quantity' /><a href="javascript:void(0)" id="goods_amount_plus">增加</a></dd>
					<dd>库存：<span>有货</span>/<span class="cf00">缺货</span>/<span class="cffb">预定</span></dd>
				</dl>
				<dl>
					<dt>商品总价：</dt>
					<dd><strong class="f14 cb00">￥<span id='sumprice'><{$data.shop_price}></span></strong></dd>
				</dl>
				<p class="clearFix"><a href="javascript:show()" id="goods_buy" >&nbsp;</a><a href="javascript:show()" id="goods_add_cart" >&nbsp;</a></p>
				<!-- 购物车用 -->
				<input type="hidden" name="goods_id" value="<{$data.goods_id}>" />
				<input type="hidden" name="Images_url" value="<{$data.original_img}>" />
				<input type="hidden" name="goods_name" value="<{$data.goods_name}>" />
				<input type="hidden" name="market_price" value="<{$data.market_price}>" />
			</div>
		</div>
		<!--产品信息 end-->
		<div class="clear"></div>
	</div>
	<div class="mt_6 frame_main">
		<div class="goods_left">
			<!--商品相关信息 start-->
			<ul id="goods_info_main">
				<li class="active">商品介绍<span></span></li>
			</ul>
			<div id="goods_info_sub">
				<div class="goods_info_sub_tabs content"><{$data.goods_desc}></div>
			</div>
			<!--商品相关信息 end-->
			<!--商品评价 start-->
			<div id="goods_evaluation">
			<div id="disqus_thread"></div>
			<script type="text/javascript">
				var disqus_shortname = 'iswellest'; 
				var disqus_developer = 1;
				var disqus_title = 'iswellest';
				(function() {
					var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				})();
			</script>
			<noscript>Please enable JavaScript</noscript>
			</div>
				
		</div>
		<div class="goods_right">
			<!--销售排行 start-->
			<h2 class="sell_ranking_tit">销售排行</h2>
			<div id="sell_ranking">
				<ul id="sell_tab_main">
					<li class="active"><a href="javascript:void(0)">同类别</a></li>
					<li><a href="javascript:void(0)">同品牌</a></li>
					<li><a href="javascript:void(0)">同价位</a></li>
				</ul>
				<div id="sell_tab_sub"> 
					<!--同类别-->
					<ol>
						<{section loop=$brand name='ls'}>
						<li>
							<p class="p_0"><strong class="strong_0"><{$smarty.section.ls.iteration}></strong> <a href="<{$url}>/ware/id/<{$brand[ls].id}>"><img width="50" height="50" class="fl" alt="" src="<{$public}>/images/ware/<{$brand[ls].w_pic}>"/></a></p>
							<p> <a href="<{$url}>/ware/id/<{$brand[ls].id}>"><{$brand[ls].w_name}></a></p>
							<p><strong class="f14 cf00">￥<{$brand[ls].shop_price}></strong></p>
						</li>
						<{/section}>
					</ol>
					<!--同品牌-->
					<ol class="none">
						<{section loop=$cat name='ls'}>
						<li>
							<p class="p_0"><strong class="strong_0"><{$smarty.section.ls.iteration}></strong> <a href="<{$url}>/ware/id/<{$cat[ls].id}>"><img width="50" height="50" class="fl" alt="" src="<{$public}>/images/ware/<{$cat[ls].w_pic}>"/></a></p>
							<p> <a href="<{$url}>/ware/id/<{$cat[ls].id}>"><{$cat[ls].w_name}></a></p>
							<p><strong class="f14 cf00">￥<{$cat[ls].shop_price}></strong></p>
						</li>
						<{/section}>

					</ol>
					<!--同价位-->
					<ol class="none">
						<{section loop=$price name='ls'}>
						<li>
							<p class="p_0"><strong class="strong_0"><{$smarty.section.ls.iteration}></strong> <a href="<{$url}>/ware/id/<{$price[ls].id}>"><img width="50" height="50" class="fl" alt="" src="<{$public}>/images/ware/<{$price[ls].w_pic}>"/></a></p>
							<p> <a href="<{$url}>/ware/id/<{$price[ls].id}>"><{$price[ls].w_name}></a></p>
							<p><strong class="f14 cf00">￥<{$price[ls].shop_price}></strong></p>
						</li>
						<{/section}>
					</ol>
				</div>
			</div>
			<!--销售排行 end-->
			<!--最近浏览过页面 start-->
			<div class="mt_6">
				<h2 class="recent_view_tit">最近浏览过商品</h2>
				<ul class="recent_view">
				<{section loop=$lately name='ls'}>
					<li>
						<p class="p_0"><a href="<{1|getURL:$lately[ls].goods_id}>"><img width="50" height="50" alt="" src="/<{$lately[ls].goods_img}>"/></a></p>
						<p><a href="<{1|getURL:$lately[ls].goods_id}>"><{$lately[ls].goods_name}></a></p>
						<p><strong class="f14 cf00">￥<{$lately[ls].shop_price}></strong></p>
					</li>
				<{/section}>
				</ul>
			</div>
			<!--最近浏览过页面 end-->
		</div>
		<div class="clear"></div>
	</div>
</div>
</div>
<div class="clear"></div>
<{ include file='public/foot.html'}>
<script type="text/javascript" src="<{$public}>/js/totop.js"></script>
<script type="text/javascript" id="bdshare_js" data="type=tools" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
	document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?t=" + new Date().getHours();
</script>
<script type="text/javascript">
jQuery(document).ready(function(){
	 $(".jqzoom").imagezoom({xzoom: 350,yzoom: 350});
});
</script>
</body>
</html>
