@charset "utf-8";
/*共通*/
.right {
    text-align: right;
}

.relative {
    position: relative;
}

.cursor_pointer {
    cursor: pointer;
}

.display-block {
    display: block;
}

.display-inline {
    display: inline-block;
}

.display-none {
    display: none;
}

.float-right {
    float: right;
}

.position-absolute {
    position: absolute;
}

.block-operation,.wait-process {
    position: absolute;
    left: 0px;
    top: 0px;
    background: none repeat scroll 0 0 #777474;
    z-index: 10000;
    opacity: 0.6;
    filter: alpha(opacity =   60);
    text-align: center;
    vertical-align: middle;
}

.wait-process {
    cursor: wait;
}

.wait-img {
    z-index: 10001;
}

.wait-process div {
    position: relative;
    top: 400px;
}
/*[sort.css]*/
/*modify by shilei*/
/**
.my_left_category .h3_cat{
    top: -27px;
    position:relative;
}
*/
/*[global.css]*/
/*modify by shilei*/
.message,.error-message {
    clear: both;
    font-size: 12px;
    font-weight: bold;
    color: #FF6533;
    width: 400px;
    float: none;
    overflow: auto;
}
/*[main.css]*/
/*modify by shilei*/
#header .seach b a {
    font-weight: normal;
    color: #ff6533;
}

.listProduct dd {
    width: 65px;
}

.categorytopSort .csBottom img {
    margin: 0 5px 0 0;
}

.listProduct dt a {
    color: #F98984;
    font-weight: bold;
    padding: 7px 0 7px 5px;
}

.txtList .txtMoredown,.txtList2 .txtMoredown {
    cursor: pointer;
}

.btnLogin {
    background: url("/image/front/bg.png") no-repeat scroll -539px -136px transparent;
    height: 25px;
    margin: 0 10px 0 0;
    width: 100px;
}

.memberForm .error-message,.memberForm .message {
    line-height: 18px;
    padding: 0 0 0 248px;
}

#giftMailAddress .error-message,#giftMailAddress .message {
    line-height: 18px;
    padding: 0 0 0 175px;
}

#updateAddress .error-message,#updateAddress .message,#EstimationForm .message {
    line-height: 18px;
    padding: 0 0 0 110px;
}

.shoppingContent .error-message,.shoppingContent .message {
    line-height: 18px;
    padding: 0 0 0 158px;
}

.addressInfo {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D4E9F9;
    padding: 10px;
}

.middle {
    vertical-align: middle;
}

.jian,.jia {
    border: 1px solid #DBDFE5;
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
}

#cartList .popup {
    background: none repeat scroll 0 0 #EDF7FF;
    border: 1px solid #D2EEF1;
    color: #333333;
    left: 500px;
    padding: 15px;
    position: absolute;
    top: 200px;
    width: 458px;
}

#cartList .popup p.l_70 {
    padding: 7px 0 7px 70px;
}

#cartList .popup p {
    padding: 7px 0 7px 100px;
}

#cartList p {
    padding: 5px 0;
}

#cartList .popup .close {
    position: absolute;
    right: 8px;
    top: 5px;
}

#cartList .popup span {
    display: inline-block;
}

#cartList .popup .closeImg {
    position: absolute;
    right: 37px;
    top: 6px;
}

.popup {
    position: absolute;
    top: 1px;
    left: 0px;
    padding: 1px;
    width: 484px;
    background: #fff;
    border: 2px solid #069;
    color: #333;
}

.popup a.popupLink:link,.popup a.popupLink:visited {
    color: #FF6533;
    text-decoration: none;
    font-weight: bold;
}

.popup a.popupLink:active,.popup a.popupLink:hover {
    color: #FF6533;
    text-decoration: underline;
    font-weight: bold;
}

.popup .popupTop {
    height: 26px;
    background: #E6F3FF;
}

.popup .popupMain {
    padding: 15px;
    border-top: 1px solid #73ACDB;
}

.popup .close {
    position: absolute;
    top: 5px;
    right: 8px;
}

.popup .closeImg {
    position: absolute;
    top: 6px;
    right: 37px;
}

.popup p {
    padding: 7px 0 7px 110px;
}

.popup p.l_70 {
    padding: 7px 0 7px 70px;
}

.popup span {
    display: inline-block;
}

.popup .popupTitle, .subTitle {
    font-size: 14px;
    font-weight: bold;
}

.popup .btnCollect2 {
    margin: 0 20px 0 0;
    width: 150px;
    height: 35px;
    background: url(/image/front/bg.png) -335px -512px no-repeat;
}

.popup .btnBalance {
    margin: 0 20px 0 0;
    width: 150px;
    height: 35px;
    /*background: url(/image/front/bg.png) -494px -512px no-repeat;*/
    
}

.popup .btnLogin {
    margin: 0 0 0 45px;
    width: 150px;
    height: 35px;
    background: url(/image/front/bg.png) -653px -512px no-repeat;
}

.popup .collectImg {
    position: absolute;
    top: 40px;
    left: 50px;
    width: 60px;
    height: 41px;
    background: url(/image/front/bg.png) -96px -563px no-repeat;
}

.popup .balanceImg {
    position: absolute;
    top: 40px;
    left: 50px;
    width: 60px;
    height: 41px;
    background: url(/image/front/bg.png) -18px -563px no-repeat;
}

.giftShoppingTitle {
    width: 240px;
    height: 43px;
    background: url(/image/front/bg.png) 0 -657px no-repeat;
    text-indent: -999em;
}

.giftShoppingStep {
    width: 1000px;
    height: 33px;
    background: url(/image/front/gift_step.png) top left no-repeat;
    text-indent: -999em;
}

.giftShoppingStep2 {
    width: 1000px;
    height: 33px;
    background: url(/image/front/gift_step.png) 0 -35px no-repeat;
    text-indent: -999em;
}

.giftShoppingStep3 {
    width: 1000px;
    height: 33px;
    background: url(/image/front/gift_step.png) 0 -69px no-repeat;
    text-indent: -999em;
}

.giftShoppingStep4 {
    width: 1000px;
    height: 33px;
    background: url(/image/front/gift_step.png) 0 -104px no-repeat;
    text-indent: -999em;
}

.groupContent li {
    height: 367px;
}

.groupContent .titleTxt {
    height: 39px;
}

.groupContent .salePrice {
    font-size: 17px;
}

.tableStyle2 a,.tableStyle3 a,.tableStyle4 a {
    overflow: hidden;
}

#footer .friendLink .linkTitle {
    line-height: 21px;
}

.focusPics {
    position: relative;
}

.focusNews .focusBtn {
    bottom: 20px;
}

.focusPics .focusBtn {
    z-index: 100;
    position: relative;
    right: 30px;
    bottom: 20px;
    text-align: right;
}

ul li p.productName {
    height: 22px;
    overflow: hidden;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

#footer .help {
	width: 1000px;
	margin: 0 auto;
/*     background: url("/image/front/service_bg.png") repeat-x scroll 0 0 transparent; */
    height: 143px;
}

#footer .help dl {
/*     border-right: 1px dotted #CCCCCC; */
    float: left;
    height: 130px;
    padding: 5px 10px;
    width: 178px;
}

#footer .help dt {
    background: none;
    height: 28px;
    margin: 0 0 8px;
    width: 106px;
    padding-top: 3px;
}

#footer .help dl.noneBorder {
    border: medium none;
}

#footer .help dt.service-icon {
/*     background: url("/image/front/help_icon.jpg") no-repeat scroll 0 3px transparent; */
    color: #3399CC;
    font-size: 14px;
    height: 20px;
    margin: 0 0 8px;
    padding-left: 18px;
    vertical-align: middle;
    width: 106px;
    font-weight: 600;
}

#footer .help dd a {
/*     background: url("/image/front/list_image.png") no-repeat scroll 10px 6px transparent; */
    line-height: 20px;
    margin-left: 5px;
    padding-left: 18px;
}

.itemLisit li,.shoppingLisit li,.product .productsSort .psCenter li {
    height: 188px;
}

.itemContent li {
    height: 112px;
}

.itemLisit del {
    padding-right: 10px;
}

.itemContent b,.itemLisit b,#categoryTab b,.categorytopSort .csRight li p b,.giftSort .csRight li p b,.ad2 .adRight .adList li .img_detail p b,.shoppingLisit b {
    padding: 0px;
}

#header .seach .allSort { /**    margin: -5px 10px 0 0;*/
    
}

.product .productsSort .psCenter li p b {
    padding: 0px;
}

.tableTitle2 {
    overflow: hidden;
}

.messageInfo label.error-message {
    padding-left: 110px;
}

#MemberPasswordReset label.error-message,#MemberForgetPassword .messageInfo label.error-message { /*padding-left:275px;*/
    padding-left: 373px;
}

.h3_txt a {
    color: #5299D3;
}

.my_left_category .shadow_border li p.second a {
    color: #5299D3;
}

.txtList .txtTitle,.txtList2 .txtTitle {
    height: 20px;padding-top: 3px;
}
.txtList .txtList_all,.txtList2 .txtList_all {
    background: #FF7900;
color: white;
padding: 0px 3px 2px 3px;
}

.product .brand .brandMain {
    padding: 5px 15px;
}

.z-index-top {
    z-index: 999999;
}

.shoppingContent {
    padding: 5px 30px;
}

.addressInfo2 {
    padding: 5px;
}

.addressInfo li,.messageInfo li,.addressInfo2 li {
    padding: 3px;
}

.logisticsTxt {
    padding: 10px 15px;
}

.personalInfo {
    line-height: 22px;
}

.btnConfirm {
    width: 100px;
    height: 25px;
    background: url(/image/front/bg.png) -336px -443px no-repeat;
}

.memberForm p {
    line-height: 35px;
}

#MemberRegist .memberForm label.error-message {
    width: 400px;
    padding-left: 248px;
    text-align: left;
}

input[type=radio] {
    border: 0px;
}

.loginMain .login_form p {
    margin-bottom: 5px;
}

.loginMain .login_form p.message {
    padding-left: 95px;
}

#memberEditSuccessMessage {
    padding-left: 105px;
}

.sex-span label {
    width: 30px;
}

.memberForm span.sex label,#MemberUpdateForm span.sex label {
    padding: 0px 0px 0px 5px;
    width: 25px;
}

.messageInfo .memberUpdateSuccess {
    background: none repeat scroll 0 0 #EDF7FF;
    border: 1px solid #D8E7F2;
    line-height: 25px;
    margin-bottom: 10px;
    padding-left: 110px;
    vertical-align: middle;
    width: 612px;
}

#tab #productEnquiryForm .message {
    padding: 0 0 0 90px;
    line-height: 20px;
}

.personalTxt .otherTxt .message {
    padding-left: 10px;
}

#sendMailToTASuccessMessage {
    width: 180px;
}

#OrderReturnForm .error-message {
    padding-left: 120px;
}

.addressInfo .tit,.messageInfo .tit,.addressInfo2 .tit {
    width: 105px;
}

#giftMailAddress .error-message {
    padding-left: 10px;
}

#paymentMain .addressInfo #updateAddress .error-message {
    padding-left: 118px;
}

.btnPayment {
    margin-left: 10px;
}

.itemLisit li {
    padding: 0 5px;
}

.page .p .btnNext2 {
    margin-left: 0px;
}

.modOrder p a {
    font-size: 12px;
    padding-top: 6px;
    padding-bottom: 0px;
    width: 70px;
	height: 25px;display: block;
float: left;text-align: right;
padding-right: 6px;
border-right: 1px solid #8FC9D2;color: #249EB3;
}
.modOrder p a.o_select{background: white;padding-left: 0;font-weight: bold;color: #137788;}
.detail .picture .smallPic li {
    height: 75px;
    margin-left: 1px;
}
.ico_12{background: url("/image/front/zwicon_set.png") no-repeat -78px -125px;
width: 12px;
height: 12px;
display: block;
float: right;margin-top: 3px;
margin-right: 8px;}
.ico_13{background: url("/image/front/zwicon_set.png") no-repeat -78px -86px;width: 12px;
width: 12px;
height: 12px;
display: block;
float: right;margin-top: 3px;
margin-right: 8px;}
.ico_14{background: url("/image/front/zwicon_set.png") no-repeat -207px -117px;width: 12px;
width: 12px;
height: 12px;
display: block;
float: right;margin-top: 3px;
margin-right: 8px;}
.modOrder .modOrder_search_price{
	margin-left: 20px;
margin-top: 2px;display: block;
float: left;
}
.tool_page{float: right;width: 100px;margin-top: 7px;line-height: 17px;}
.tool_page a{color: #249EB3;}
.tool_page span{float: left;margin-left: 10px;}
.tool_page span .prev{float: left;display: block;width: 17px;height: 17px;background: url("/image/front/zwlist_category") no-repeat -4px -342px;}
.tool_page span .next{float: left;display: block;width: 17px;height: 17px;background: url("/image/front/zwlist_category") no-repeat -36px -342px;}

.more{
    float: right;
    margin: 7px 10px 0 0;
    display: inline;background: url("/image/front/zwicon_set.png") no-repeat;background-position: -130px -60px;width: 30px;height: 12px;}
.more a {
    display: block;
    width: 30px;
    height: 12px;
}
.giftSort .csRight li p img {
    padding:0 20px 0 5px;
}
.more-product-expand, .more-product-collapse {
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    background: url(/image/front/more_product.png);
}
.more-product-expand {
    background-position: -33px -53px;
}
.more-product-collapse {
    background-position: -18px -53px;
}
.sale_rule a {
    color: #3F97CB;
}
#picBlock {
    width:450px;
    height:75px;
    margin-top:5px;
    margin-left:5px;
}
#picBlock li {
    /**width:75px;*/
    display:inline-block;
    
    *display:inline;
}
#picBlock li a {
    /**width:75px;*/
    *display:inline;
}
#picBlock #picPrev ,#picBlock #picNext{
}
.groupPicture .smallPic {
    padding-left:300px;
}
.groupLeft {
    padding:15px 10px;
    width:758px;
}
.groupLeft .groupPicture {
    padding:15px 0px;
}
.groupLeft .groupPicture .pic {
    width:450px;
    padding-left:20px;
}
.sale_rule {
    line-height: 22px;
}
.popupTop .title {
    padding-left:5px;
    line-height:25px;
}
#loginPop .popupMain p a {
    color: #3F97CB;
}
.top_banner {
    padding: 5px 15px;
    position: relative;
    top: 15px;
}
.mainRight .adList {
    float: left;
    margin: 0 9px 0 4px;
    width: 253px;
    background:#FFFFFF;
}
.mainRight .none {
    margin:0px;
}
.mainRight .adList .hotProduct {
    width: 253px;
    height: 31px;
    background: url(/image/front/bg.png) 0 -186px no-repeat;
}
.mainRight .adList .otc {
    width: 253px;
    height: 31px;
    background: url(/image/front/bg.png) 0 -224px no-repeat;
}
.mainRight .adList .hotConsultation {
    width: 253px;
    height: 31px;
    background: url(/image/front/bg.png) 0 -262px no-repeat;
}
.mainRight .adList ul {
    float: left;
    padding: 5px 0;
    width: 251px;
    border: 1px solid #E2EDF5;
    border-top: 3px solid #E2EDF5;
}
.mainRight .adList li {
    margin: 0 10px 0 10px;
    padding: 0 0 0 5px;
    line-height: 21px;
    border-bottom: 1px dotted #CCC;
    clear: both;
}
.mainRight .adList li .imgWrap {
    display: block;
    float: left;
    width: 100px;
    height: 100px;
    line-height: 120px;
    margin-right: 5px;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none;
    position: relative;
}
.mainRight .adList li .img_detail {
    float: left;
    width: 118px;
}
.bonus_block {
    
}
table tr.bonus {
}
table tr.bonus td{
    background-color:#FFFFE8;
    line-height:20px;
    padding-top:5px;
}
table tr td span.bonus_select_img {
    float:left;
    width:68px !important;
}
table tr td span.product_name {
    line-height:20px;
    padding:5px 20px 5px 10px;
}
table tr td span.bonus_select_img img {
    padding:3px;
    vertical-align:middle;
}
table tr td span.bonus_select_img img.unselected {
    border: 1px solid #D3E9F9;
} 
table tr td span.bonus_select_img img.selected {
    border: 1px solid red;
}
#shoppingBag table tr td font.title {
    line-height:20px;
}
.loginMain .login_form label {
    width:70px;
}
.bold {
    font-weight:bold;
}
#shoppingBag table tr td p.block {
    display:block;
}
.helpInfo strong, .helpInfo b {
    font-weight: bold;
    font-style: none;
}
.helpInfo em {
    font-style: italic;
}
.service-introduce {
    line-height:22px;
}
.loginMain .login_form label.error-message {
    width: 260px;
    padding-left:95px;
    text-align:left;
}
.memberForm p.regist_article_link {
    padding-top:5px;
    line-height: 15px;
}
.regist_article {
    padding-top: 5px;
    margin-top: 0px;
    margin-left: 248px;
    border: 1px solid #CCC;
    overflow-y: scroll;
    height: 120px;
    width: 530px;
    display:none;
}

.regist_article h3 {
    text-align:center;
    font-size:14px;
    font-weight:bold;
}
.regist_article p {
    line-height:18px;
    padding:5px 15px;
}
.itemContent .productName {
    height:44px;
    display:block;
}
.loginMain .login_form p.btn {
    padding: 0 0 0 95px;
}

.shoppingInfoModify {
    float: right;
    margin-right: 10px;
    position: relative;
    text-align: right;
}
.mainRight .itemContent {
    width:768px;
}
.mainRight .itemContent li {
    padding: 0 35px 15px 0;
}
.mainLeft .tableTitle {
    color:#3F98CB;
}
.mainLeft .tableTitle a {
    font-size:9pt;
    color:#3F98CB;
}
p.notFound {
    background-color:#fff;
    height:20px;
    border:1px solid #D4E9F9;
}

table tr td img.no-border,
table tr td a.no-border img {
    border:0px;
}
.mainLeft .tableTitle {
    float:none;
    margin-bottom:1px;
}
.mainLeft .listMypage {
    border:1px solid #D8E7F2;
}
.border-1 {
    border:1px solid #D4E9F9;
}
.breadcrumb {
    /*background: none repeat scroll 0 0 #EDF7FF;*/
    color: #3F98CB;
    margin-bottom: 3px;
    padding: 5px 10px;
}
.breadcrumb a {
    color: #3F98CB;
}
#mainWrapper .mainCenter {
    margin-top:3px;
}
.bag_title {
    padding:0px;
}
.free_shipping {
    float: right;
    font-size: 12pt;
    padding-right: 580px;
    padding-top: 30px;
    position: relative;
}
.m_l_20{margin-left: 20px;}
#list_brand{overflow: hidden;}
.showMoreBrandBtn{text-align: center;}
.showMoreBrandBtn a.more{float:none;
	background: url("/image/front/zwlist_category") no-repeat -13px -359px;
height: 14px;
display: block;
margin: 10px 0px;
margin-left: 490px;}
.showMoreBrandBtn a.more_up{background-position: -13px -328px;}
.crumbList .crumbList_all{background: url("/image/front/zwlist_category") no-repeat -78px -329px;padding-left: 20px;}
