<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>购物车-<{$shopConfig.shop_name}></title>
<link href="<{$public}>/css/header.css" rel="stylesheet" type="text/css" />
<link href="<{$public}>/css/cart.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="<{$public}>/css/sales.min.css" media="all" type="text/css"/>
<script type="text/javascript" src="<{$public}>/js/jquery.js"></script>
<script type="text/javascript" src="<{$public}>/js/cart.js"></script>
<script type="text/javascript" src="<{$public}>/js/operate_Cart.js"></script>
<script type="text/javascript" src="<{$public}>/js/operate_Cookie.js"></script>
<script type='text/javascript'  src="<{$public}>/js/jquery-1.4.2.js"></script>
<script type="text/javascript">

//页面加载时执行
window.onload = function() {
	//更新购物车
	getCartInfo();
 }; 
//取得购物车信息
function getCartInfo(){
	var str="";
	var amount=0;
	var _div = document.getElementById("goods_info");
	
	//从Cookie中取出商品信息列表,并将其转化为数组
	var arr = common.convertArray();
	
	//如果数组是否为空
	if(arr != "" && arr != null && arr != "null")
	{	
		var s=null;
		//将商品信息从数组中循环取出
		for(i=0;i<arr.length;i++)
		{
				//alert(arr);
				str+='<tr><td>'+arr[i][0]+'</td><td align="left" class="good_name_td"><a href="#"><img src="'+arr[i][3]+'" width="50" height="50" alt=""/></a> <a href="#" class="c110">'+arr[i][1]+'</a></td><td>￥<strong class="cf00">'+arr[i][2]+'</strong></td><td><div class="cart_goods_amount"><a class="cart_amount_reduce" href="javascript:void(0)">减少</a><input type="text" value="'+arr[i][4]+'" maxlength="3" class="cart_amount"><a class="cart_amount_plus" href="javascript:void(0)">增加</a></div></td><td><input type="button" value="加入收藏夹" class="button_0" /><input type="button" value="删除" class="button_0" onclick="common.reMoveOne('+arr[i][0]+');"/></td></tr>';
			
			//计算商品总额
			amount+=arr[i][2]*arr[i][4];
			 s+=arr[i][4]++;

		}
	}else{
		s=0;
	}
	
	//重置总金额
	document.getElementById("amount").innerText = amount;
	document.getElementById("sum").innerHTML= s;
	$('#goods_info').append(str);
}
</script>
</head>
<body>
<{include file='public/head2.html' }>
<div id="fabWrapper" class="wrapperMesh">
<div id="contentWrapper">
	<div class="fabBorderSpace"></div>
	<div class="frame_main shop_cart_nav">
		<!--
			当前栏目 a class='active'
		-->
		<ul>
			<li class="li_0"><a  class="active">我的购物车</a></li>
			<li class="li_1"><a >填写核对信息单</a></li>
			<li class="li_2"><a >成功提交订单</a></li>
		</ul>
		<p class="fr">您目前可以享受购物满 <strong class="cf00">499</strong> 元 免运费的优惠</p>
		<div class="clear"></div>
	</div>
	<!--购物车列表 start-->
	<div class="mt_6 frame_main">
		<table class="shop_cart_table_0">
			<thead>
				<tr>
					<th>商品编号</th>
					<th>商品名称</th>
					<th>商品单价</th>
					<th>购买数量</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody  id='goods_info'>
			</tbody>
		</table>
	</div>
	<!--购物车列表 end-->
	<div class="mt_6 frame_main">
		<p class="fl">商品总数量：<strong class="cf00" id='sum'></strong> 商品金额总计:<strong class="cf00" id='amount'></strong> <a href="javascript:common.reMoveAll() " class="c110">清空购物车</a></p>
		<p class="fr"><a href="<{$app}>" class="cart_button_0">继续购物</a><a href="<{2|getURL}>" class="cart_button_1">去结算</a></p>
		<div class="clear"></div>
	</div>
	<!--其他用户购买 start-->
	<div class="mt_6 frame_main">
		<h2><strong class="f14">购买该商品的用户还购买了</strong></h2>
		<div class="cart_others_buy">
			<ul>
			<{section loop=$data name=ls}>
				<li>
					<a href="<{1|getURL:$data[ls].goods_id}>"><img src="<{$data[ls].goods_thumb}>" width="150" height="150" alt="" class="block" /></a>
					<p class="mt_5 pro_name"><a href="<{1|getURL:$data[ls].goods_id}>"><{$data[ls].goods_name}></a></p>
					<p class="cf00">价格：<strong class="f14">￥<{$data[ls].market_price}>.00</strong></p>
					<p><a href="#" class="a_0">加入购物车</a></p>
					<p><a href="#" class="a_0">加入收藏夹</a></p>
				</li>
				<{/section}>
				<div class="clear"></div>
			</ul>
		</div>
	</div>
	<!--其他用户购买 end-->
	<!--优势保障 start-->
</div>
</div>
<{ include file='public/foot.html'}>
</body>
</html>
