<IfModule mod_rewrite.c>
    RewriteEngine On
    #RewriteCond %{HTTPS} !on 
    #RewriteRule ^shopping/bag(.*)$ https://%{SERVER_NAME}/shopping/bag$1 [L]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>
